- unless @category.new_record?
  = javascript_include_tag 'jquery_1.9.1.min.js'
= form.label :name_attributes, t(".category_title")
- available_locales.each do |locale_name, locale_value|
  .row
    - if available_locales.size > 1
      .col-2
        = label_tag "category[translation_attributes][#{locale_value}][name]", locale_name + ": ", :class => "new-category-name-locale-label"
    .col-8
      = text_field_tag "category[translation_attributes][#{locale_value}][name]", @category.display_name(locale_value), :class => "required"
.col-8
  - unless @category.new_record?
    = label_tag :previous_replacement_percent
    -@category.replacement_percent.each do|facility|
      = radio_button_tag :previously_added_value, facility
      = facility
    = label_tag :previous_minimum_replacement_percent
    -@category.min_replacement_percent.each do|facility|
      = radio_button_tag :previously_added_min_value, facility
      = facility
    = label_tag :previous_maximum_replacement_percent
    -@category.max_replacement_percent.each do|facility|
      = radio_button_tag :previously_added_max_value, facility
      = facility

  = label_tag :maximum_replacement_percent
  = text_field_tag :max_replacement_percent, @category.max_replacement_percent.last
  = label_tag :minimum_replacement_percent
  = text_field_tag :min_replacement_percent, @category.min_replacement_percent.last
  = label_tag :replacement_percent
  = text_field_tag :replacement_percent, @category.replacement_percent.last

:javascript
$(function() {
  $('input[type=radio][name=previously_added_value]').change( function(){
   $("#replacement_percent").val($(this).val());
  });
  $('input[type=radio][name=previously_added_min_value]').change( function(){
   $("#min_replacement_percent").val($(this).val());
  });
  $('input[type=radio][name=previously_added_max_value]').change( function(){
   $("#max_replacement_percent").val($(this).val());
  });
});