- content_for :extra_javascript do
  :javascript
    (function($){
        $.fn.extend({

        //pass the options variable to the function
        accordion: function(options) {
        var defaults = {
          accordion: 'true',
          speed: 300,
          closedSign: '[+]',
          openedSign: '[-]'
        };
        // Extend our default options with those provided.
        var opts = $.extend(defaults, options);
        //Assign current element to variable, in this case is UL element
        var $this = $(this);
        //add a mark [+] to a multilevel menu
        $this.find("li").each(function() {
          if($(this).find("ul").size() != 0){
            //add the multilevel sign next to the link
            $(this).find("a:first").append("<span>"+ opts.closedSign +"</span>");
            //avoid jumping to the top of the page when the href is an #
            if($(this).find("a:first").attr('href') == "#"){
                $(this).find("a:first").click(function(){return false;});
              }
          }
        });
        //open active level
        $this.find("li.active").each(function() {
          $(this).parents("ul").slideDown(opts.speed);
          $(this).parents("ul").parent("li").find("span:first").html(opts.openedSign);
        });

          $this.find("li a").click(function() {
            if($(this).parent().find("ul").size() != 0){
              if(opts.accordion){
                //Do nothing when the list is open
                if(!$(this).parent().find("ul").is(':visible')){
                  parents = $(this).parent().parents("ul");
                  visible = $this.find("ul:visible");
                  visible.each(function(visibleIndex){
                    var close = true;
                    parents.each(function(parentIndex){
                      if(parents[parentIndex] == visible[visibleIndex]){
                        close = false;
                        return false;
                      }
                    });
                    if(close){
                      if($(this).parent().find("ul") != visible[visibleIndex]){
                        $(visible[visibleIndex]).slideUp(opts.speed, function(){
                          $(this).parent("li").find("span:first").html(opts.closedSign);
                        });
                      }
                    }
                  });
                }
              }
              if($(this).parent().find("ul:first").is(":visible")){
                $(this).parent().find("ul:first").slideUp(opts.speed, function(){
                  $(this).parent("li").find("span:first").delay(opts.speed).html(opts.closedSign);
                });
              }else{
                $(this).parent().find("ul:first").slideDown(opts.speed, function(){
                  $(this).parent("li").find("span:first").delay(opts.speed).html(opts.openedSign);
                });
              }
            }
          });
        }
    });
    })(jQuery);

.row
  .col-12
    = link_to t("homepage.filters.all_categories"), params.merge({category: "all"}), :class => "home-categories-main #{if @selected_category.nil? then 'selected' end}"
    %ul.topnav
      - Category.having_subcategories?.each do |category|
        %li
          = link_to "", "#"
          %div{style: "margin-left:8px;min-width:230px;"}
            = link_to (category.display_name(I18n.locale)).upcase, params.merge({category: category}), :data => {category: category.id}
          %ul
            - category.subcategories.each do |subcategory|
              %li= link_to subcategory.display_name(I18n.locale), params.merge({category: subcategory}), :data => {:"sub-category" =>subcategory.id}
    %ul.topnav{:style => "margin-left:8px;"}
      - category_with_parent_and_subcategories.each do |category|
        %li
          = link_to (category.display_name(I18n.locale)).upcase, params.merge({category: category}), :data => {category: category.id}, :style => "color: #3c3c3c;"

- content_for :extra_javascript do
  :javascript
    $(document).ready(function() {
      console.log("sdfsdf");
      $(".topnav").accordion({
        accordion:false,
        speed: 500,
        closedSign: '<img src="/assets/plus_btn.png">',
        openedSign: '<img src="/assets/minus_btn.png">'
      });
    });

:css

  ul.topnav {
    padding: 0;
    margin: 0;
    font-size: 16px;
    list-style: none;
    width: auto;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight:400;
  }

  ul.topnav li { list-style:none;}

  ul.topnav li a {
    line-height: 24px;
    font-size: 16px;
    font-weight:400;
    padding:0 0 0 20px;
    color: #3c3c3c;
    display: block;
    text-decoration: none;
    text-transform:uppercase;
    position:relative;
  }
  ul.topnav li a img{ display:block; max-width:100%;}
  ul.topnav li a:focus{ outline:none;}

  ul.topnav li a:hover {
    /*background-color:#675C7C;*/
    color:#39f;
  }

  ul.topnav ul {
    margin: 0;
    padding: 0;
    display: none;
  }

  ul.topnav ul li {
    margin: 0;
    padding: 0;
    clear: both;
  }

  ul.topnav ul li a {
    padding-left: 20px;
    font-size: 14px;
    font-weight: 300;
    outline:0;
    font-style:italic;
    text-transform:none;
    background:url(/assets/bullet.png) 10px 12px no-repeat;
  }

  ul.topnav ul li a:hover {
    /*background-color:#D3C99C;*/
    color:#39f;
  }

  ul.topnav ul ul li a {
    color:silver;
    padding-left: 40px;
  }

  ul.topnav ul ul li a:hover {
    /*background-color:#D3CEB8;*/
    color:#39f;
  }

  ul.topnav span{
    float:left;
    display:inline-block; position:absolute; left:0; top:8px; width:10px;
  }