%script{:src => "/assets/jquery.min.js", :type => "text/javascript"}
%script{:src => "/assets/swipe.min.js", :type => "text/javascript"}
%link#onepress-fonts-css{:href => "https://fonts.googleapis.com/css?family=Raleway%3A400%2C500%2C600%2C700%2C300%2C100%2C800%2C900%7COpen%2BSans%3A400%2C300%2C300italic%2C400italic%2C600%2C600italic%2C700%2C700italic&subset=latin%2Clatin-ext", :media => "all", :rel => "stylesheet", :type => "text/css"}/

:css

  .section-title-area{margin-bottom: 60px;text-align:center;}
  .section-title-area .section-title{
    font-size: 40px;
    letter-spacing: 3.5px;
    text-transform: uppercase;
    font-weight: 800;
  }
  .section-title-area .section-subtitle{
    font-size: 14px;
    color: #aaaaaa;
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: 2px;
  }
  h5{
    font-weight: 700;
  }
  h2{
    font-weight: 800;
    color: #333333;
  }
  h2, h5{
    font-family: "Raleway" !important;
    letter-spacing: 3.5px;
    text-transform:uppercase;
  }
  .team-members.row after{
    display:table;
    clear:both;
  }
  .team-members.row.team-layout-3 .team-member:nth-child(3n+1){clear: left;}
  .team-members.row.team-layout-3 .team-member{width: 33.3333%;}
  .team-member{float:left;margin-bottom: 20px;}
  .container{max-width: 1140px;margin:0 auto;}

  .team-member .member-thumb{
    margin-bottom: 20px;
    position: relative;
    overflow: hidden;
  }
  .team-member .member-thumb img{
    height: auto;
    max-width: 100%;
    vertical-align: middle;    
  }
  .team-member .member-thumb:hover img{
    opacity: 0.7; transition: all 0.1s linear;
  }
  .inform h2, .inform h5{
    text-transform:uppercase;
  }
  .inform h5{
    font-size: 14px;
  }
  .inform p{
    font-size: 11px;
  }
  .team-member .member-name{
    letter-spacing: 2px;
    margin-bottom: 15px;
    position: relative;
  }

  .team-member .member-name:after{
    content: "";
    display: block;
    position: absolute;
    left: 50%;
    margin-left: -15%;
    bottom: -11px;
    width: 30%;
    height: 1px;
    background: #cccccc;
  }
  .member-name a{
    color: #333;
    font-size: 14px;
  }
  .what_is_jube .team-member{
    text-align:center;
    float:none;
    margin-top: 40px;
  }
  .home_play_link:hover {
    opacity: 0.7; transition: all 0.1s linear;
  }
%header
  %section.titles-btn.what_is_jube{:style => "margin-top: 70px;"}
    %h2
      WHAT IS JUBE?
    .team-member.wow.slideInUp{:style => "visibility: visible; animation: slideInUp; -webkit-animation: slideInUp;"}
      .home_img
        %a{class: "home_play_link", :id => "1_img",  href: "#"}
          %img{:alt => "", :src => "/assets/60_seconds.png", width: "20%"}
        %a{class: "home_play_link", :id => "2_img", href: "#"}
          %img{:alt => "", :src => "/assets/jube_is_for.png", width: "20%"}
    %br{clear: "all"}


  %section#team.section-team.section-padding.section-meta.onepage-section.grey-bg
    .container
      .section-title-area
        %h5.section-subtitle Gear in Copenhagen
        %h2.section-title Gear on Jube
      .team-members.row.team-layout-3
        .team-member.wow.slideInUp{:style => "visibility: visible; animation: slideInUp; -webkit-animation: slideInUp;"}
          .member-thumb
            %a{:href => "https://www.dk.jube.co/en/listings/218-dji-ronin-m"}
              %img{:alt => "", :src => "/assets/djironinm.png"}/
          .member-info
            %h5.member-name
              %a{:href => "https://www.dk.jube.co/en/listings/218-dji-ronin-m"} DJI Ronin M
            %span.member-position
        .team-member.wow.slideInUp{:style => "visibility: visible; animation: slideInUp; -webkit-animation: slideInUp;"}
          .member-thumb
            %a{:href => "https://www.dk.jube.co/en/listings/187-ursa-mini-pro-package"}
              %img{:alt => "", :src => "/assets/ursaminiprof34.jpg"}/
          .member-info
            %h5.member-name
              %a{:href => "https://www.dk.jube.co/en/listings/187-ursa-mini-pro-package"} Ursa Mini Pro
            %span.member-position
        .team-member.wow.slideInUp{:style => "visibility: visible; animation: slideInUp; -webkit-animation: slideInUp;"}
          .member-thumb
            %a{:href => "https://www.dk.jube.co/en/listings/193-canon-c300mkii-ef"}
              %img{:alt => "", :src => "/assets/CanonC300.png"}/
          .member-info
            %h5.member-name
              %a{:href => "https://www.dk.jube.co/en/listings/193-canon-c300mkii-ef"} Canon C300
            %span.member-position




%section.inform
  %h5 Please read these - We mean it
  %h2 Important Information
  
  .flex
    .block_info
      %a.btn.red{:href => "https://www.dk.jube.co/en/infos/terms"} Terms Of use
      %p Here you will find all the legal stuff reagarding the JUBE service. It might not be your favorite read, but we highly encourage you to do so.
    .block_info
      %a.btn.red{:href => "http://www.jube.co/faq"} FAQ
      %p We do not have all the answers on the big questions of life. But we DO have answers on questions regarding the JUBE platform.
    .block_info
      %a.btn.red{:href => "https://www.dk.jube.co/en/infos/trust_and_safety"} Safety and insurance
      %p Here you find all information regarding our safety and insurance policy. Read this before your first rent.

:css
  .home_play_link{
    padding: 40px;
  }
  .youtube_video{
    display:none;
  }

  .block_info {
    color: #1a1a1a;
    font-size: 15px;
    padding: 60px 50px 0 50px;
    line-height: 1.7;
    margin-bottom: 10px;
    width: 33%;
  }

  .block_info .btn {
    max-width: 230px;
    width: 100%;
    padding-left: 5px;
    padding-right: 5px;
  }

  .inform {
    margin-top: 30px;
    padding: 55px 0 110px 0;
  }

  section {
    text-align: center;
  }

  .flex {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .btn.red {
    background: #c0392b;
    border-color: #c0392b;
    font-size: 13px;
  }
  .btn.red:hover {
    color: #c0392b;
    background: #ffffff;
  }
  .btn.red:active {
    background: #ab3428;
    border-color: #ab3428;
    color: #ffffff;
  }

  .btn {
    border-radius: 4px;
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    height: 50px;
    display: inline-block;
    font-weight: 500;
    cursor: pointer;
    text-decoration: none;
    line-height: 1.3;
    padding: 16px 35px;
    -webkit-transition: All .2s ease;
    -moz-transition: All .2s ease;
    transition: All .2s ease;
    border-style: solid;
    border-width: 1px;
    margin-bottom: 40px;
  }

  .inform h5{
    color: #828282;
    font-weight: 700;
  }

  .inform h2{
    font-size: 37px;
  }
  @media(max-width:767px){
    .header1.added_header .outer::after { clear: both; content: ""; display: block;}
    .header-wrapper::after { clear: both; content: ""; display: block;}
    .header-logo{ margin-left:auto; margin-right:auto;}
    .header-left.header-logo-container{ float:none;}
    .header-left.header-logo-container .visible-tablet {display: block; margin: auto; overflow: hidden; width: 65px;}
    .hero_section .inner_banner { clear: both;}
    .hero_section .inner_banner img {display: block;}
    .header-left.header-logo-container .header-logo .visible-tablet{ display:block !important;}
    .search_gear{ height:auto !important;}
    .search_gear::after { clear: both; content: ""; display: block;}
    .what_is_jube .home_play_link {float: left; padding: 12px; width: 50%;}
    .what_is_jube .home_img::after { clear: both; content: ""; display: block;}
    .what_is_jube .home_play_link img {display: block; max-width: inherit; width: 100%;}
    .inform .flex .block_info{padding: 60px 12px 0;}
    .slider_content .home_play_link{display: inline-block;}
    .slider_content .home_play_link img.test{ height:50px; width:50px;}
  }

  @media(max-width:580px){
    .search_gear { height: auto !important;}
    .red_butn > button { margin: 0 auto 30px;}
    .team-members.row.team-layout-3 .team-member{ width: 100%; margin-bottom: 40px;}
    .inform .flex .block_info{width:100%;}
  }


  @media (max-width: 1240px){
    .search_gear{
      width: 90%;
    }
  }

  @media (max-width: 989px){
  .header1 .col4 {
      float: left;
      width: 30%;
  }
  .slider_content {
      top: 50%;
      -moz-transform: translateY(-50%);-ms-transform: translateY(-50%);-o-transform: translateY(-50%);-webkit-transform: translateY(-50%);
  transform: translateY(-50%);
      bottom: inherit;
  }
  }
  @media (max-width: 767px){
  .header-wrapper{background: none;}
  .section-title-area .section-title{font-size:30px;}
  .inform h2 {
      font-size: 30px;
  }
  .added_inner{height:auto;}
  }

  @media (max-width: 620px){
  .section-title-area .section-title {
      font-size: 23px;
  }
  .inform h2 {
      font-size: 22px;
  }
  .inform .flex .block_info {
      padding: 15px 12px 0;
  }
  .block_info .btn {
      max-width: 160px;
      height: 30px;
      line-height: 30px;
      padding: 0; margin-bottom:10px;
  }
  .inform{padding-bottom:0;}
  .section-title-area .section-subtitle{font-size:12px;}
  }
  .hero_section .inner_banner .slider_content img {
    width: auto;margin-top: 5px;
  }
