- if @view_type.eql?("map")
	.home-map
		- content_for :extra_javascript do
			= javascript_include_tag "https://maps.google.com/maps/api/js?sensor=true"
			= javascript_include_tag 'markerclusterer.js'

		- community_location_lat = @current_community.location ? @current_community.location.latitude : nil
		- community_location_lon = @current_community.location ? @current_community.location.longitude : nil
		- content_for :extra_javascript do
			:javascript
				initialize_labels();

				$(document).ready(function() {
					initialize_listing_map(
						#{@listings.map { |l| {category: l[:category_id], id: l[:id], icon: l[:icon_name], latitude: l[:latitude], longitude: l[:longitude],unit_price: price_quantity_slash_unit(l),price: humanized_money_with_symbol(l.price).upcase,title: l[:title] } }.to_json},
						"#{community_location_lat}",
						"#{community_location_lon}",
						"#{I18n.locale}",
						"#{@current_community.use_community_location_as_default}");
					});

		#map-canvas.map
		%br
		%hr
		.wrapper
			.row
				.home-toolbar
				.col-3.visible-tablet
					= render 'category_listing'
				.col-9#home-listing
					.home-fluid-thumbnail-grid-narrow
						.home-fluid-thumbnail-grid
							- if !@listings.blank?
								= render :partial => "grid_item", :collection => @listings, :as => :listing
							-else
								= t(".no_listings_with_your_search_criteria")


