- if params[:controller] == "homepage" && params[:action] == "index"
  %form{method: "get", id: "homepage-filters"}
    - params.except("action", "controller", "q", "view", "utf8").each do |param, value|
      - unless param.match(/^filter_option/) || param.match(/^checkbox_filter_option/) || param.match(/^nf_/) || param.match(/^price_/)
        = hidden_field_tag param, value
    = hidden_field_tag "view", @view_type
    - with_big_cover_photo do
      .form_search_gear
        .outer
          .search_gear{:style => "margin-bottom: 7px;"}
            .col6
              = text_field_tag "q", params[:q], :placeholder => (@community_customization && @community_customization.search_placeholder) || t("homepage.index.what_do_you_need")
            .col6
              %ul.search_list
                %li
                  %a{:href => "?category=cinema-cameras&q=&view=grid"}
                    = image_tag("cameras.png")
                %li
                  %a{:href => "?category=lenses&q=&view=grid"}
                    = image_tag("lenses.png")
                %li
                  %a{:href => "?category=dslr-slash-mirrorless-cameras&q=&view=grid"}
                    = image_tag("dslr.png")
                %li
                  %a{:href => "?category=lighting&q=&view=grid"}
                    = image_tag("lighting.png")
                %li
                  %a{:href => "?category=audio&q=&view=grid"}
                    = image_tag("audio.png")
                %li
                  %a{:href => "?category=camera-support-slash-stabilizers&q=&view=grid"}
                    = image_tag("stabilizer.png")
              %ul.new
                %li.red_butn
                  / %a{:href => "#"} SEARCH
                  / .search-form-input
                  %button.action-button#search-button{type: 'submit'} SEARCH
    - with_small_cover_photo do
      .outer.new_search_added
        / - if @current_user.present?
        .search_bar_added
          / %input#query{:placeholder => "Search Gear", :type => "text"}
          .search-form-input.search-form-text-field
            = text_field_tag "q", params[:q], :placeholder => (@community_customization && @community_customization.search_placeholder) || t("homepage.index.what_do_you_need")
            %button.action-button#search-button.second-search{type: 'submit'}
              SEARCH
          / %i.fa.fa-search
