- content_for :title_header do
  %h1= t(".edit_listing")

- content_for :extra_javascript do
  :javascript
    $(document).ready(function() {
      window.ST.initialize_edit_listing_form_selectors("#{I18n.locale}", #{category_tree.to_json}, #{listing_form_menu_titles().to_json}, #{category_id.to_json}, #{subcategory_id.to_json}, #{shape_id.to_json}, #{@listing.id});
    });

- content_for :extra_javascript do
  = javascript_include_tag "https://maps.google.com/maps/api/js?sensor=true"

#new_listing_form.new-listing-form.centered-section

  #selected-groups

    - if categories.size > 1
      .selected-group{:name => "category"}
        - categories.each do |value|
          %a.select.selected.hidden{:data => {:id => value.id}}
            .link-text= t("listings.new.selected_category", :category => value.display_name(I18n.locale))

    - if subcategories.size > 1
      .selected-group{:name => "subcategory"}
        - subcategories.each do |value|
          %a.select.selected.hidden{:data => {:id => value.id}}
            .link-text= t("listings.new.selected_subcategory", :subcategory => value.display_name(I18n.locale))

    - if shapes.size > 1
      .selected-group{:name => "listing_shape"}
        - shapes.each do |value|
          %a.select.selected.hidden{:data => {:id => value[:id]}}
            .link-text= t("listings.new.selected_transaction_type", :transaction_type => t(value[:name_tr_key]))

  %h2.listing-form-title{:id => "foo"}

  #option-groups

    - if categories.size > 1
      .option-group{:name => "category"}
        - categories.each do |value|
          %a.select.option.hidden{:data => {:id => value.id}}
            .link-text= value.display_name(I18n.locale)

    - if subcategories.size > 1
      .option-group{:name => "subcategory"}
        - subcategories.each do |value|
          %a.select.option.hidden{:data => {:id => value.id}}
            .link-text= value.display_name(I18n.locale)

    - if shapes.size > 1
      .option-group{:name => "listing_shape"}
        - shapes.each do |value|
          %a.select.option.hidden{:data => {:id => value[:id]}}
            .link-text= t(value[:name_tr_key])

  .js-form-fields.hidden

    - if form_content

      = render partial: "listings/form/form_content", locals: form_content.merge(run_js_immediately: false)

- if flash[:notice]
  - content_for :extra_javascript do
    :javascript
      $(document).ready(function() {
        $('html, body').animate({
            scrollTop: $('#images').offset().top
        }, 'slow');
      });
