- content_for :extra_javascript do
  :javascript
    $(document).ready(function() {
      window.ST.initialize_new_listing_form_selectors("#{I18n.locale}", #{category_tree.to_json}, #{listing_form_menu_titles().to_json});
    });

- content_for :extra_javascript do
  = javascript_include_tag "https://maps.google.com/maps/api/js?sensor=true"
  = javascript_include_tag "jquery-ui-1.11.4.js"

- content_for :extra_css do
  = stylesheet_link_tag "jquery-ui.css"

- content_for :title_header do
  %h1= t("listings.new.post_a_new_listing")
#new_listing_form.new-listing-form.centered-section

  #selected-groups

    - if categories.size > 1
      .selected-group{:name => "category"}
        - categories.each do |value|
          %a.select.selected.hidden{:data => {:id => value.id}}
            .link-text= t(".selected_category", :category => value.display_name(I18n.locale))

    - if subcategories.size > 1
      .selected-group{:name => "subcategory"}
        - subcategories.each do |value|
          %a.select.selected.hidden{:data => {:id => value.id}}
            .link-text= t(".selected_subcategory", :subcategory => value.display_name(I18n.locale))

    - if shapes.size > 1
      .selected-group{:name => "listing_shape"}
        - shapes.each do |value|
          %a.select.selected.hidden{:data => {:id => value[:id]}}
            .link-text= t(".selected_transaction_type", :transaction_type => t(value[:name_tr_key]))

  %h2.listing-form-title{:id => "foo"}
  %p
    %small#info-text
      Select the category that best fit your listing. If you have a package with a lot of gear, pick the category the gear revolves around.

  #option-groups

    - if categories.size > 1
      .option-group{:name => "category"}
        - categories.each do |value|
          %a.select.option.hidden{:data => {:id => value.id}}
            .link-text= value.display_name(I18n.locale)

    - if subcategories.size > 1
      .option-group{:name => "subcategory"}
        - subcategories.each do |value|
          %a.select.option.hidden{:data => {:id => value.id}}
            .link-text= value.display_name(I18n.locale)

    - if shapes.size > 1
      .option-group{:name => "listing_shape"}
        - shapes.each do |value|
          %a.select.option.hidden{:data => {:id => value[:id]}}
            .link-text= t(value[:name_tr_key])

  .js-form-fields.hidden
