- content_for :javascript do
  initialize_signup_form("#{I18n.locale}","#{t("people.new.username_is_in_use")}","#{t("people.new.username_is_invalid")}","#{email_not_accepted_message}","#{t("people.new.captcha_was_wrong")}", "#{t("people.new.invalid_invitation_code")}", #{@current_community.real_name_required?}, #{@current_community.join_with_invite_only?} );
  
  $("#fb-login").click(function(){ if($("#person_terms_facebook").is(":checked")){ return true; }else{ alert("Please accept the terms"); return false;} });

- content_for :title_header do
  %h1= t('.sign_up')

.signup-form.centered-section

  - if @community_customization && @community_customization.signup_info_content
    %p
      = @community_customization.signup_info_content.html_safe
  - elsif @current_community.allowed_emails
    %p
      = t('.email_restriction_instructions',
            :community_name => @current_community.name(I18n.locale),
            :allowed_emails => @current_community.allowed_emails,
            :count => (@current_community.allowed_emails.split(",").count))

  - unless !facebook_connect_in_use? || params[:no_fb]
    = render :partial => "layouts/facebook_connect_button", :locals => { :button_text => t(".create_account_with_facebook") }

    .signup-horizontal-line
      .signup-horizontal-line-text=t(".OR")

    %h3=t(".signup_with_email")

  = form_for @person, :url => APP_CONFIG.login_domain.to_s + people_path do |form|

    -# Invite code
    - if @current_community.join_with_invite_only?
      .inline-label-container
        = label_tag :invitation_code, t('.invitation_code'), :class => "inline"
        = link_to(t('common.what_is_this'), "#", :tabindex => "-1", :id => "help_invitation_code_link", :class => "label-info")
      = text_field_tag "invitation_code", nil, :class => :text_field, :maxlength => "20", :value => (params[:code] || "")
    - elsif params[:code]
      = hidden_field_tag "invitation_code", params[:code]

    -# Honey pot: hidden field to detect spammers
    = form.label :input_again, "You should not see this field, if CSS is working. If you see this, please send feedback!", :class => "unwanted_text_field"
    = form.text_field :input_again, :class => "unwanted_text_field", :id => "error_regristration_unwanted_email2", :autocomplete => "off"

    -# Email
    = form.label :email, t('.email')
    = form.text_field :email, :class => :text_field, :maxlenght => "255"

    -# Name
    - if @current_community.only_organizations
      = form.label :organization_name, t('.organization_name')
      = form.text_field :organization_name, :class => :text_field, :maxlength => "30"
    - else
      = form.label :given_name, t('.given_name')
      = form.text_field :given_name, :class => :text_field, :maxlength => "30"
      = form.label :family_name, t('.family_name')
      = form.text_field :family_name, :class => :text_field, :maxlength => "30"

    -# Username
    = form.label :username, username_label
    = form.text_field :username, :class => :text_field, :maxlength => "20", :id => "person_username1"

    -# Password
    = form.label :password, t('common.password')
    = form.password_field :password, :class => :text_field, :maxlength => "255", :id => "person_password1"
    = form.label :password2, t('.password_again')
    = form.password_field :password2, :class => :text_field, :maxlength => "255"

    -#phone Number
    = form.label :phone_number, t('.phone_number')
    %div{:style => "display:flex;"}
      = form.select :country_code, options_for_select(get_country_codes(:phone_number), !@person.country_code.nil? ? @person.country_code : 45), :prompt => 'Select one'
      = form.text_field :phone_number, :class => :text_field, :maxlength => "10", :placeholder => "#{t('settings.sms_notifications.phone_placeholder')}"
    %span{:id => "numeric_number"}
    %span{:id => "correct_number", :class => t('.correct_number')}
    = t('.number_text')

    -#VAT number
    %p
    %b Are you also a registered company?
    %br
    .inline-label-container
      = form.label :vat_number, "VAT / CVR Number", :class => "inline"
      %small
        (Ex: If you have a production company, etc)
    %div{:style => "display:flex;"}
      = form.select :vat_country_code, options_for_select(get_country_codes(:vat_number), !@person.vat_country_code.nil? ? @person.vat_country_code : "DK"), :prompt => 'Select one'
      %div
        = form.text_field :vat_number, :class => :text_field
    .card_small_loader
      = image_tag "small_loader.gif"
      Verifying...

    -# Terms
    .outer-checkbox-container
      .checkbox-container
        - unless @skip_terms_checkbox
          %input{:type => "checkbox", :id => "person_terms", :name => "person[terms]"}
          = link_to "I have read and understood all the rules", "/en/infos/about", class: "signup_about_link"

    = form.hidden_field :consent, :value => @current_community.consent

    = button_tag t('.create_new_account'), :class => "submit-mobile"

= render :partial => "help_texts", :collection => ["terms", "help_invitation_code"], :as => :field
