- value = custom_field_value ? custom_field_value.display_value : ""
/ Don't use HTML5 number input. It's a mess.
%small.replacement_percent
  (If you should buy this gear in its current condition today, what would it cost?)
= text_field_tag "custom_fields[#{custom_field.id}]", value, :data => {:min => custom_field.display_min, :max => custom_field.display_max}, :class => "#{custom_field.required? ? 'required' : ''} #{custom_field.allow_decimals? ? 'number-decimals' : 'number-no-decimals'} #{custom_field.name.match(/Replacement/) ? 'replacement_percent' : ''}", :id => "#{custom_field.name.match(/Replacement/) ? 'replacement_percent' : ''}"

-unless get_listing_shape(@listing).name == "selling"
  .description
    = raw(t(:price_guide,price: "#{@listing.category.replacement_percent.last}"))

:css
  .description{border: 1px solid grey;height: 102px;margin-top: 12px;padding: 16px;width: 430px;}
  .description > i {color: green}
