- content_for :title_header do
  %h1
    = link_to person_inbox_path(@current_user), :class => "transaction_head" do
      = t("layouts.no_tribe.inbox")
    |
    %span{:id => "inbox-conversation"}
      = t("conversations.show.conversation_with", person: link_to_unless(other_party[:is_deleted], other_party[:display_name], other_party[:url], :class => "transaction_head")).html_safe
