!!!
%html
  %head
    %title DAWN
    %meta{:content => "exported via StampReady", :name => "sr_export"}/
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "width=device-width, initial-scale=1.0, maximum-scale=1.0,", :name => "viewport"}/
    :css
      html {
                  width: 100%;
              }
              body {
                  margin: 0;
                  padding: 0;
                  width: 100%;
                  -webkit-text-size-adjust: none;
      
                  -ms-text-size-adjust: none;
              }
              img {
                  display: block !important;
                  border: 0;
                  -ms-interpolation-mode: bicubic;
              }
              .ReadMsgBody {
                  width: 100%;
              }
              .ExternalClass {
                  width: 100%;
              }
              .ExternalClass,
              .ExternalClass p,
              .ExternalClass span,
              .ExternalClass font,
              .ExternalClass td,
              .ExternalClass div {
                  line-height: 100%;
              }
              .images {
                  display: block !important;
                  width: 100% !important;
              }
              .MsoNormal {
                  font-family: 'Open Sans', Arial, Helvetica Neue, Helvetica, sans-serif !important;
              }
              p {
                  margin: 0 !important;
                  padding: 0 !important;
              }
              a {
                  font-family: 'Open Sans', Arial, Helvetica Neue, Helvetica, sans-serif !important;
              }
              .button td,
              .button a {
                  font-family: 'Open Sans', Arial, Helvetica Neue, Helvetica, sans-serif !important;
              }
              .button a:hover {
                  text-decoration: none !important;
              }
              /* MEDIA QUIRES */
              
              @media only screen and (max-width: 640px) {
                  body {
                      width: auto !important;
                  }
                  table[class=display-width] {
                      width: 100% !important;
                  }
            .lrpadding
            {
            padding:0px 30px;
            }
            .top-space
            {
            height:40px !important;
            line-height:40px !important;
            }
            .top-pad
            {
            padding-top:40px;
            }
              }
              @media only screen and (max-width: 480px) {
                  table[class=display-width] table {
                      width: 100% !important;
                  }
                  table[class=display-width] .button-width .button {
                      width: auto !important;
                  }
              }
          @media only screen and (max-width: 360px) {
          .lrpadding
            {
            padding:0px 13px;
            }
              }
  %body
    %table{:align => "center", :border => "0", :cellpadding => "0", :cellspacing => "0", "data-module" => "module 1_31388_56284_25027", :style => "position: relative; opacity: 1; z-index: 0; background-color: #77bbff;max-width: 900px;box-shadow: 0 0px 2px #cecece;", :width => "100%"}
      %tr
        %td{:align => "center"}
          %table.zay600{:align => "center", :border => "0", :cellpadding => "0", :cellspacing => "0", :width => "90%"}
            %tr
              %td{:align => "center"}
                %table.zay600{:align => "center", :border => "0", :cellpadding => "0", :cellspacing => "0", :width => "600"}
                  %tr
                    %td
                      %table.zay3-3{:align => "center", :border => "0", :cellpadding => "0", :cellspacing => "0", :width => "88"}
                        / logo
                        %tr
                          %td{:align => "center", :style => "line-height:0px;", :valign => "center"}
                            %a{:href => "http://www.jube.co"}
                              = image_tag("http://www.urbanarmy.co/assets/img10.png", :alt => "img", :height => "88", :style => "display:block; font-size:0px; line-height:0px; border:0px;", :width => "88")
                        / end logo
                      / Space
                      / End Space
      %tr
        %td{:align => "center"}
          %table.class-inner{:align => "center", :border => "0", :cellpadding => "0", :cellspacing => "0", :width => "100%"}
            %tr
              %td{"data-border-bottom-color" => "Divider Line5", :style => "border-bottom: 1px solid rgb(255, 255, 255); box-shadow: rgb(206, 206, 206) 0px 0px 2px;"}
    %table{:align => "center", :bgcolor => "#ffffff", :border => "0", :cellpadding => "0", :cellspacing => "0", "data-bgcolor" => "White-bg", "data-module" => "Who-we-are", :width => "100%"}
      %tr
        %td.lrpadding{:align => "center"}
          / SECTION TABLE-600
          %table.display-width{:align => "center", :border => "0", :cellpadding => "0", :cellspacing => "0", :width => "600"}
            %tr
              %td{:align => "center"}
                %table{:align => "center", :border => "0", :cellpadding => "0", :cellspacing => "0", :width => "100%"}
                  %tr
                    / SECTION HEADING
                    %td.MsoNormal{:align => "center", "data-color" => "Main-Heading", "data-max" => "32", "data-min" => "12", "data-size" => "Main-Heading", :style => "color:#1f2532; font-family:'Segoe UI', Arial, Verdana, Trebuchet MS, sans-serif; font-size:24px; font-weight:600; line-height:36px; letter-spacing:1px; text-transform:uppercase;"}
                  %tr
                    %td{:height => "20", :style => "line-height:20px;"}
                  %tr
                    %td{:align => "center", :style => "color:#1f2532;", :valign => "middle"}
                  %tr
                    %td{:height => "40", :style => "line-height:40px;"}
                  %tr
                    %td.MsoNormal{:align => "center", "data-color" => "Content", "data-max" => "32", "data-min" => "12", "data-size" => "Content", :style => "color: rgb(31, 37, 50); font-family: \"Segoe UI\", Arial, Verdana, \"Trebuchet MS\", sans-serif; font-size: 14px; font-weight: 400; line-height: 24px; text-align: left;"}
                      The booking of your
                      %b
                        = @transaction.listing.title.capitalize
                      from
                      %b
                        = @transaction.author.full_name.capitalize
                      is completed.
                      %br/
                      %br/
                      Renting period:
                      %b
                        = @days
                        days. 
                        = @transaction.booking.start_on.strftime("%d-%m-%Y")
                        = "-"
                        = @transaction.booking.end_on.strftime("%d-%m-%Y")
                      %br/
                      Remember to coordinate pickup and delivery
                      %br/
                      %br/
                      Rental cost:
                      %b
                        = humanized_money_with_symbol(@price)
                      %br/
                      %br/
                      %b
                        = "#{@transaction.author.given_name.capitalize}'s"
                      contact Info:
                      %b
                        = "#{@transaction.author.full_name.capitalize}"
                        = "-"
                        = @transaction.author.emails.last.address
                      %br/
                      Address:
                      %b
                        = @transaction.author.exact_address.present? ? @transaction.author.exact_address : @transaction.author.street_address
                      %br/
                      - if @transaction.author.phone_number.present?
                        Tlf:
                        %b
                          = @transaction.author.phone_number
                      %br/
                      %br/
                      - if @transaction.author.vat_number.present?
                        VAT / CVR Number:
                        %b= @transaction.author.vat_number
                        %br/
                        %br/
                      Payment is now being handled and a receipt will be sent separately to your email, via. Stripe. - It might be necessary to check your spam folder.
                  %tr
                    %td{:height => "20"}
                  %tr
                    %td.MsoNormal{:align => "center", :style => "color:#ff2e63; font-family:'Segoe UI', Arial, Verdana, Trebuchet MS, sans-serif; font-size:12px; font-weight:600; line-height:24px; letter-spacing:1px; text-transform:uppercase;"}
          / SECTION TABLE-600 END
      %tr
        %td{:height => "50", :style => "line-height:50px;"}
           
    %table{:align => "center", :bgcolor => "#ffffff", :border => "0", :cellpadding => "0", :cellspacing => "0", "data-bgcolor" => "White-bg", "data-module" => "Product-feature", "data-thumb" => "http://www.pennyblacktemplates.com/demo/dawn/thumb/product-feature.png", :width => "100%"}
      %tr
        %td.lrpadding{:align => "center"}
          / SECTION TABLE-600
          %table.display-width{:align => "center", :border => "0", :cellpadding => "0", :cellspacing => "0", :width => "600"}
            %tr
              %td
                / TABLE LEFT
                %table{:align => "left", :border => "0", :cellpadding => "0", :cellspacing => "0", :style => "border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;", :width => "42%"}
                  %tr
                    %td{:align => "center", :style => "color:#777777;", :valign => "middle"}
                      = image_tag("http://www.urbanarmy.co/assets/img18.png", :alt => "255x490", :height => "490", :style => "margin:0; padding:0; display:block; width:100%; height:auto;", :width => "255")
                / TABLE RIGHT
                %table.display-width{:align => "right", :border => "0", :cellpadding => "0", :cellspacing => "0", :style => "border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;", :width => "50%"}
                  %tr
                    / SECTION HEADING
                    %td.MsoNormal{:align => "left", "data-color" => "Main-Heading", "data-max" => "32", "data-min" => "12", "data-size" => "Main-Heading", :style => "color:#1f2532; font-family:'Segoe UI', Arial, Verdana, Trebuchet MS, sans-serif; font-size:24px; font-weight:600; line-height:36px; letter-spacing:1px; text-transform:uppercase;"}
                      AS A RENTER, REMEMBER TO:
                  %tr
                    %td{:height => "30", :style => "line-height:30px;"}
                  / SECOND ROW STARTS
                  / SECOND ROW STARTS
                  %tr
                    %td{:align => "center"}
                      %table{:align => "left", :border => "0", :cellpadding => "0", :cellspacing => "0", :style => "border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;  width:auto !important;", :width => "100%"}
                        %tr
                          %td{:align => "left", :style => "color:#777777;", :valign => "top"}
                            = image_tag("http://www.urbanarmy.co/assets/img12.png", :alt => "16x16", :height => "16", :style => "margin:0; padding:0; display:block; padding-top:5px;", :width => "16")
                          %td{:height => "15", :width => "20"}
                          %td{:align => "center"}
                            %table{:align => "left", :border => "0", :cellpadding => "0", :cellspacing => "0", :style => "border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;  width:auto !important;", :width => "100%"}
                              %tr
                                / SECTION TITLE-2
                                %td.MsoNormal{:align => "left", :style => "color:#1f2532; font-family:'Segoe UI', Arial, Verdana, Trebuchet MS, sans-serif; font-size:15px; font-weight:600; line-height:24px; letter-spacing:1px; text-transform:uppercase;"}
                                  %a{"data-color" => "Sub-heading", "data-max" => "32", "data-min" => "12", "data-size" => "Sub-heading", :href => "#", :style => "color: rgb(31, 37, 50); text-decoration: none; font-size: 12px; line-height: 20.4px;"}
                                    Coordinate pickup and delivery.
                              %tr
                                %td{:height => "15", :style => "line-height:20px;"}
                              %tr
                                %td.MsoNormal{:align => "left", "data-color" => "Content", "data-max" => "32", "data-min" => "12", "data-size" => "Content", :style => "color:#1f2532; font-family:Segoe UI, Helvetica Neue, Arial, Verdana, Trebuchet MS, sans-serif; font-size:14px; line-height:24px;"}
                              %tr
                                %td{:height => "5", :style => "line-height:25px;"}
                  / SECOND ROW ENDS
                  / SECOND ROW STARTS
                  %tr
                    %td{:align => "center"}
                      %table{:align => "left", :border => "0", :cellpadding => "0", :cellspacing => "0", :style => "border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;  width:auto !important;", :width => "100%"}
                        %tr
                          %td{:align => "left", :style => "color:#777777;", :valign => "top"}
                            = image_tag("http://www.urbanarmy.co/assets/img12.png", :alt => "16x16", :height => "16", :style => "margin:0; padding:0; display:block; padding-top:5px;", :width => "16")
                          %td{:height => "15", :width => "20"}
                          %td{:align => "center"}
                            %table{:align => "left", :border => "0", :cellpadding => "0", :cellspacing => "0", :style => "border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;  width:auto !important;", :width => "100%"}
                              %tr
                                / SECTION TITLE-2
                                %td.MsoNormal{:align => "left", :style => "color:#1f2532; font-family:'Segoe UI', Arial, Verdana, Trebuchet MS, sans-serif; font-size:15px; font-weight:600; line-height:24px; letter-spacing:1px; text-transform:uppercase;"}
                                  %a{"data-color" => "Sub-heading", "data-max" => "32", "data-min" => "12", "data-size" => "Sub-heading", :href => "#", :style => "color: rgb(31, 37, 50); text-decoration: none; font-size: 12px; line-height: 20.4px;"}
                                    Treat the equipment like it was your own.
                              %tr
                                %td{:height => "15", :style => "line-height:20px;"}
                              %tr
                                %td.MsoNormal{:align => "left", "data-color" => "Content", "data-max" => "32", "data-min" => "12", "data-size" => "Content", :style => "color:#1f2532; font-family:Segoe UI, Helvetica Neue, Arial, Verdana, Trebuchet MS, sans-serif; font-size:14px; line-height:24px;"}
                              %tr
                                %td{:height => "5", :style => "line-height:25px;"}
                  / SECOND ROW ENDS
                  / SECOND ROW STARTS
                  %tr
                    %td{:align => "center"}
                      %table{:align => "left", :border => "0", :cellpadding => "0", :cellspacing => "0", :style => "border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;  width:auto !important;", :width => "100%"}
                        %tr
                          %td{:align => "left", :style => "color:#777777;", :valign => "top"}
                            = image_tag("http://www.urbanarmy.co/assets/img12.png", :alt => "16x16", :height => "16", :style => "margin:0; padding:0; display:block; padding-top:5px;", :width => "16")
                          %td{:height => "15", :width => "20"}
                          %td{:align => "center"}
                            %table{:align => "left", :border => "0", :cellpadding => "0", :cellspacing => "0", :style => "border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;  width:auto !important;", :width => "100%"}
                              %tr
                                / SECTION TITLE-2
                                %td.MsoNormal{:align => "left", :style => "color:#1f2532; font-family:'Segoe UI', Arial, Verdana, Trebuchet MS, sans-serif; font-size:15px; font-weight:600; line-height:24px; letter-spacing:1px; text-transform:uppercase;"}
                                  %a{"data-color" => "Sub-heading", "data-max" => "32", "data-min" => "12", "data-size" => "Sub-heading", :href => "#", :style => "color: rgb(31, 37, 50); text-decoration: none; font-size: 12px; line-height: 20.4px;"}
                                    You have agreed to follow JUBE’s Terms of Use.
                              %tr
                                %td{:height => "15", :style => "line-height:20px;"}
                              %tr
                                %td.MsoNormal{:align => "left", "data-color" => "Content", "data-max" => "32", "data-min" => "12", "data-size" => "Content", :style => "color:#1f2532; font-family:Segoe UI, Helvetica Neue, Arial, Verdana, Trebuchet MS, sans-serif; font-size:14px; line-height:24px;"}
                              %tr
                                %td{:height => "5", :style => "line-height:25px;"}
                  / SECOND ROW ENDS
                  / SECOND ROW STARTS
                  %tr
                    %td{:align => "center"}
                      %table{:align => "left", :border => "0", :cellpadding => "0", :cellspacing => "0", :style => "border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;  width:auto !important;", :width => "100%"}
                        %tr
                          %td{:align => "left", :style => "color:#777777;", :valign => "top"}
                            = image_tag("http://www.urbanarmy.co/assets/img12.png", :alt => "16x16", :height => "16", :style => "margin:0; padding:0; display:block; padding-top:5px;", :width => "16")
                          %td{:height => "15", :width => "20"}
                          %td{:align => "center"}
                            %table{:align => "left", :border => "0", :cellpadding => "0", :cellspacing => "0", :style => "border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;  width:auto !important;", :width => "100%"}
                              %tr
                                / SECTION TITLE-2
                                %td.MsoNormal{:align => "left", :style => "color:#1f2532; font-family:'Segoe UI', Arial, Verdana, Trebuchet MS, sans-serif; font-size:15px; font-weight:600; line-height:24px; letter-spacing:1px; text-transform:uppercase;"}
                                  %a{"data-color" => "Sub-heading", "data-max" => "32", "data-min" => "12", "data-size" => "Sub-heading", :href => "#", :style => "color: rgb(31, 37, 50); text-decoration: none; font-size: 12px; line-height: 20.4px;"}
                                    Reach out to us or the owner, if you have questions about anything.
                              %tr
                                %td{:height => "15", :style => "line-height:20px;"}
                              %tr
                                %td.MsoNormal{:align => "left", "data-color" => "Content", "data-max" => "32", "data-min" => "12", "data-size" => "Content", :style => "color:#1f2532; font-family:Segoe UI, Helvetica Neue, Arial, Verdana, Trebuchet MS, sans-serif; font-size:14px; line-height:24px;"}
                              %tr
                                %td{:height => "5", :style => "line-height:25px;"}
                  / SECOND ROW ENDS
                  / SECOND ROW STARTS
                  %tr
                    %td{:align => "center"}
                      %table{:align => "left", :border => "0", :cellpadding => "0", :cellspacing => "0", :style => "border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;  width:auto !important;", :width => "100%"}
                        %tr
                          %td{:align => "left", :style => "color:#777777;", :valign => "top"}
                            = image_tag("http://www.urbanarmy.co/assets/img12.png", :alt => "16x16", :height => "16", :style => "margin:0; padding:0; display:block; padding-top:5px;", :width => "16")
                          %td{:height => "15", :width => "20"}
                          %td{:align => "center"}
                            %table{:align => "left", :border => "0", :cellpadding => "0", :cellspacing => "0", :style => "border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;  width:auto !important;", :width => "100%"}
                              %tr
                                / SECTION TITLE-2
                                %td.MsoNormal{:align => "left", :style => "color:#1f2532; font-family:'Segoe UI', Arial, Verdana, Trebuchet MS, sans-serif; font-size:15px; font-weight:600; line-height:24px; letter-spacing:1px; text-transform:uppercase;"}
                                  %a{"data-color" => "Sub-heading", "data-max" => "32", "data-min" => "12", "data-size" => "Sub-heading", :href => "#", :style => "color: rgb(31, 37, 50); text-decoration: none; font-size: 12px; line-height: 20.4px;"}
                                    Leave a review after delivery 
                              %tr
                                %td{:height => "15", :style => "line-height:20px;"}
                              %tr
                                %td.MsoNormal{:align => "left", "data-color" => "Content", "data-max" => "32", "data-min" => "12", "data-size" => "Content", :style => "color:#1f2532; font-family:Segoe UI, Helvetica Neue, Arial, Verdana, Trebuchet MS, sans-serif; font-size:14px; line-height:24px;"}
                              %tr
                                %td{:height => "5", :style => "line-height:25px;"}
                  / SECOND ROW ENDS
          / SECTION TABLE-600 END
    %table{:align => "center", :bgcolor => "#ffffff", :border => "0", :cellpadding => "0", :cellspacing => "0", "data-bgcolor" => "White-bg", "data-module" => "What-we-do", "data-thumb" => "http://www.pennyblacktemplates.com/demo/dawn/thumb/what-we-do.png", :width => "100%"}
      %tr
        %td{:height => "50", :style => "line-height:50px;"}
      %tr
        %td.lrpadding{:align => "center"}
          / SECTION TABLE-600
          %table.display-width{:align => "center", :border => "0", :cellpadding => "0", :cellspacing => "0", :width => "600"}
            %tr
              / SECTION HEADING
              %td.MsoNormal{:align => "center", "data-color" => "Main-Heading", "data-max" => "32", "data-min" => "12", "data-size" => "Main-Heading", :style => "color:#1f2532; font-family:'Segoe UI', Arial, Verdana, Trebuchet MS, sans-serif; font-size:24px; font-weight:600; line-height:36px; letter-spacing:1px; text-transform:uppercase;"}
            %tr
              %td{:height => "20", :style => "line-height:20px;"}
            %tr
              %td{:align => "center", :style => "color:#1f2532;", :valign => "middle"}
            %tr
              %td{:height => "40", :style => "line-height:40px;"}
            %tr
              %td
                / TABLE LEFT-1
                %table.display-width{:align => "left", :border => "0", :cellpadding => "0", :cellspacing => "0", :style => "border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;", :width => "30%"}
                  %tr
                    %td{:align => "center", :style => "color:#777777;", :valign => "middle"}
                      = link_to image_tag("http://www.urbanarmy.co/assets/img13.png", :alt => "64x64x1", :height => "64", :style => "margin:0; padding:0; display:block;", :width => "64"), "#{@faq_path}"
                  %tr
                    %td{:height => "20", :style => "line-height:20px;"}
                  %tr
                    / SECTION TITLE-1
                    %td.MsoNormal{:align => "center", :style => "color:#1f2532; font-family:'Segoe UI', Arial, Verdana, Trebuchet MS, sans-serif; font-size:15px; font-weight:600; line-height:24px; letter-spacing:1px; text-transform:uppercase;"}
                      faq
                  %tr
                    %td{:height => "20", :style => "line-height:20px;"}
                  %tr
                    %td.MsoNormal{:align => "center", "data-color" => "Content", "data-max" => "32", "data-min" => "12", "data-size" => "Content", :style => "color:#1f2532; font-family:'Segoe UI', Arial, Verdana, Trebuchet MS, sans-serif; font-size:14px; font-weight:400; line-height:24px;"}
                      Click here for Jube's
                      %br/
                       FAQ site
                / TABLE MIDDLE
                %table{:align => "left", :border => "0", :cellpadding => "0", :cellspacing => "0", :style => "border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;", :width => "30"}
                  %tr
                    %td{:height => "40", :style => "line-height: 40px;", :width => "30"}
                / TABLE CENTER
                %table.display-width{:align => "left", :border => "0", :cellpadding => "0", :cellspacing => "0", :style => "border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;", :width => "30%"}
                  %tr
                    %td{:align => "center", :style => "color:#777777;", :valign => "middle"}
                      = link_to image_tag("http://www.urbanarmy.co/assets/img14.png", :alt => "64x64x2", :height => "64", :style => "margin:0; padding:0; display:block;", :width => "64"), "#{@inbox_path}"
                  %tr
                    %td{:height => "20", :style => "line-height:20px;"}
                  %tr
                    / SECTION TITLE-2
                    %td.MsoNormal{:align => "center", :style => "color:#1f2532; font-family:'Segoe UI', Arial, Verdana, Trebuchet MS, sans-serif; font-size:15px; font-weight:600; line-height:24px; letter-spacing:1px; text-transform:uppercase;"}
                      yOUR INBOX
                  %tr
                    %td{:height => "20", :style => "line-height:20px;"}
                  %tr
                    %td.MsoNormal{:align => "center", "data-color" => "Content", "data-max" => "32", "data-min" => "12", "data-size" => "Content", :style => "color:#1f2532; font-family:'Segoe UI', Arial, Verdana, Trebuchet MS, sans-serif; font-size:14px; font-weight:400; line-height:24px;"}
                      Click here for your message and booking inbox
                / TABLE MIDDLE
                %table{:align => "left", :border => "0", :cellpadding => "0", :cellspacing => "0", :style => "border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;", :width => "1"}
                  %tr
                    %td{:height => "40", :style => "line-height:40px;", :width => "1"}
                / TABLE RIGHT
                %table.display-width{:align => "right", :border => "0", :cellpadding => "0", :cellspacing => "0", :style => "border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;", :width => "30%"}
                  %tr
                    %td{:align => "center", :style => "color:#777777;", :valign => "middle"}
                      = link_to image_tag("http://www.urbanarmy.co/assets/img15.png", :alt => "64x64x3", :height => "64", :style => "margin:0; padding:0; display:block;", :width => "64"), @term_path
                  %tr
                    %td{:height => "20", :style => "line-height:20px;"}
                  %tr
                    / SECTION TITLE-3
                    %td.MsoNormal{:align => "center", :style => "color:#1f2532; font-family:'Segoe UI', Arial, Verdana, Trebuchet MS, sans-serif; font-size:15px; font-weight:600; line-height:24px; letter-spacing:1px; text-transform:uppercase;"}
                      TERMS OF USE
                  %tr
                    %td{:height => "20", :style => "line-height:20px;"}
                  %tr
                    %td.MsoNormal{:align => "center", "data-color" => "Content", "data-max" => "32", "data-min" => "12", "data-size" => "Content", :style => "color:#1f2532; font-family:'Segoe UI', Arial, Verdana, Trebuchet MS, sans-serif; font-size:14px; font-weight:400; line-height:24px;"}
                      Click here for Jube's
                      %br/
                      Terms of use
          / SECTION TABLE-600 END
      %tr
        %td{:height => "50", :style => "line-height:50px;"}
           
    %table.bg_color{:bgcolor => "ffffff", :border => "0", :cellpadding => "0", :cellspacing => "0", "data-module" => "19_97036_17006", "data-thumb" => "http://www.stampready.net/dashboard/editor/user_uploads/image_uploads/2015/12/31/C6u8SZAMlGNsgPc0wTx1OYfXdiaWe2VK.jpg", :style => "position: relative; opacity: 1; z-index: 0;", :width => "100%"}
      %tr
        %td{:align => "center"}
          %table.container590{:align => "center", :border => "0", :cellpadding => "0", :cellspacing => "0", :width => "590"}
            %tr
              %td{:align => "center"}
                %table.container590{:align => "left", :border => "0", :cellpadding => "0", :cellspacing => "0", :style => "border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;", :width => "290"}
                  %tr
                    %td{:align => "left", :style => "line-height:0px;", :valign => "middle"}
                      %a{:href => "http://www.jube.co"}
                        = image_tag("http://www.urbanarmy.co/assets/img16.png", :alt => "img", :height => "88", :style => "display:block; font-size:0px; line-height:0px; border:0px;", :width => "88")
                  %tr
                    %td{:height => "25", :style => "font-size: 25px; line-height: 25px;"}
                       
                  %tr
                    %td.text_color{:align => "left", :style => "color: #848484; font-size: 15px; font-family: 'Raleway', Calibri, sans-serif; mso-line-height-rule: exactly; line-height: 24px;"}
                      .editable_text{:style => "line-height: 24px"}
                        / ======= section text =======
                        %span.text_container
                          Do you have questions, comments, feedback or just want to chat? Reach out to us by email, phone or Intercom (the blue circle in right corner on the website)
                  %tr
                    %td{:height => "15", :style => "font-size: 15px; line-height: 15px;"}
                       
                  %tr
                    %td{:align => "left"}
                      %table{:align => "left", :border => "0", :cellpadding => "0", :cellspacing => "0"}
                        %tr
                          %a.editable_img{:href => "https://www.facebook.com/Jube-1610059609233318/", :style => "display: block; color: rgb(255, 255, 255);"}
                            = image_tag("http://www.urbanarmy.co/assets/img17.png", :alt => "", :border => "0", :height => "13", :style => "display: block; width: auto;", :width => "6")
                          %td
                                 
                          %td
                            %a.editable_img{:style => "display: block; color: rgb(255, 255, 255);"}
                          %td
                                 
                          %td
                            %a.editable_img{:style => "display: block; color: rgb(255, 255, 255);"}
                          %td
                                 
                          %td
                            %a.editable_img{:style => "display: block; color: rgb(255, 255, 255);"}
                          %td
                                 
                          %td
                            %a.editable_img{:style => "display: block; color: rgb(255, 255, 255);"}
                          %td
                                 
                          %td
                            %a.editable_img{:style => "display: block; color: rgb(255, 255, 255);"}
                %table.container590{:align => "left", :border => "0", :cellpadding => "0", :cellspacing => "0", :style => "border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;", :width => "5"}
                  %tr
                    %td{:height => "30", :style => "font-size: 30px; line-height: 30px;", :width => "5"}
                       
                %table.container590{:align => "right", :border => "0", :cellpadding => "0", :cellspacing => "0", :style => "border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;", :width => "240"}
                  %tr
                    %td{:height => "60", :style => "font-size: 50px; line-height: 50px;"}
                       
                  %tr
                    %td.title_color{:align => "left", :style => "color: #25201f; font-size: 20px; font-family: 'Raleway', Calibri, sans-serif; font-weight: 500; mso-line-height-rule: exactly; line-height: 24px;"}
                      / ======= main header =======
                      .editable_text{:style => "line-height: 24px;"}
                        %span.text_container
                          CONTACT US
                  %tr
                    %td{:height => "20", :style => "font-size: 20px; line-height: 20px;"}
                       
                  %tr
                    %td.title_color{:align => "left", :style => "color: rgb(47, 39, 32); font-size: 14px; font-family: Raleway, Calibri, sans-serif; line-height: 28px; text-align: left;"}
                      / ======= main header =======
                      .editable_text{:style => "line-height: 28px;"}
                        %span.text_container
                          JUBE.co
                      .editable_text{:style => "line-height: 28px;"}
                        %span.text_container
                          Help@jube.co
                      .editable_text{:style => "line-height: 28px;"}
                        %span.text_container
                          +45 20 51 72 16
                  %tr
                    %td{:height => "20", :style => "font-size: 20px; line-height: 20px;"}
                       
                  %tr
                    %td.title_color{:align => "left", :style => "color: #2f2720; font-size: 14px; font-family: 'Raleway', Calibri, sans-serif; mso-line-height-rule: exactly; line-height: 24px;"}
      %tr
        %td{:height => "45", :style => "font-size: 45px; line-height: 45px;"}
           
