- url = person_message_url(@recipient, @url_params.merge({:id =>  @transaction.conversation.id.to_s})) + "#message#{@transaction.conversation.messages.last.id.to_s}"
%tr
  %td{:align => "left"}
    %font{body_font}
    - renter_name = @transaction.buyer.given_name_or_username
    - if @transaction.notification_status == "pending"
      %p 
        Tenent #{renter_name} has made a request for #{@transaction.listing.title}
    - elsif @transaction.notification_status == "accept"
      %p
        Waiting for accept and payment from #{renter_name}.
    - elsif @transaction.notification_status == "decline"
      %p
        You have declined #{renter_name}'s request for #{@transaction.listing.title}.
    - elsif @transaction.notification_status == "paid"
      %p 
        Payment done successfully by #{renter_name}! Make your gear ready for pickup. Have fun!

= render :partial => "action_button", :locals => { :text => t("emails.new_message.view_message"), :url => url}