= form_tag  create_braintree_settings_customer_path(:person_id => @current_user.id), :id => "checkout" do |form|
  .row
    .col-12
      = label_tag :cardholder_name, t("braintree_payments.edit.cardholder_name"), :class => "preauthorize-exp"
      = text_field_tag :cardholder_name,"", :class => :text_field, :placeholder => t("braintree_payments.edit.cardholder_name"), :name => nil, "data-braintree-name"=>"cardholder_name"

  .row
    .col-9
      = label_tag :credit_card_number, t("braintree_payments.edit.credit_card_number"), :class => "preauthorize-exp"
      = text_field_tag :credit_card_number, "", :name => nil, :class => :text_field, :placeholder => t("braintree_payments.edit.credit_card_number"), "data-braintree-name" => "number"

    .col-3
      = label_tag :cvv, t("braintree_payments.edit.cvv"), :class => "preauthorize-exp"
      = text_field_tag :cvv, "", :name => nil, :class => :text_field, :maxlength => 4, :placeholder => t("braintree_payments.edit.cvv"), "data-braintree-name" => "cvv"

  .row
    .col-9
      = label_tag :credit_card_expiration_month, t("braintree_payments.edit.exp"), :class => "preauthorize-exp"
      = select_tag :credit_card_expiration_month, options_for_select(credit_card_expiration_month_options), :name => nil, "data-braintree-name" => "expiration_month"
      = " / "
      = select_tag :credit_card_expiration_year, options_for_select(credit_card_expiration_year_options), :name => nil, "data-braintree-name" => "expiration_year"
    .col-3
      = label_tag :postal_code, "Postal code", :class => "preauthorize-exp"
      = text_field_tag :postal_code, "", :name => nil, :class => :text_field, :maxlength => 4, :placeholder => "postal code", "data-braintree-name" => "postal_code"
  .row
    .col-12
      = button_tag "Submit"
