- content_for :extra_javascript do
  = javascript_include_tag "https://js.braintreegateway.com/v2/braintree.js"
  :javascript
    $(document).on("ready", function(){
      braintree.setup("#{@client_token}", "custom", {id: "checkout"});
    });

- content_for :javascript do
  initialize_update_notification_settings_form("#{I18n.locale}","#{@current_user.id.to_s}");

- content_for :title_header do
  %h1= t("layouts.no_tribe.settings")

= render :partial => "layouts/left_hand_navigation", :locals => { :links => settings_links_for(@current_user, @current_community) }

#person_settings_form.left-navi-section.settings-section.id-verification-settings
  -if @braintree_account && @braintree_account.customer_id.present?
    = link_to "Update credit card information", update_braintree_settings_customer_path(:person_id => @current_user.id), :id => 'update_card'
  -else
    = render "braintree_checkout_form"

