- content_for :javascript do
  initialize_update_notification_settings_form("#{I18n.locale}","#{@person.id.to_s}");

- content_for :title_header do
  %h1= t("layouts.no_tribe.settings")

= render :partial => "layouts/left_hand_navigation", :locals => { :links => settings_links_for(@person, @current_community) }

#person_settings_form.left-navi-section.settings-section.id-verification-settings
  #helper_text
    .img-box
      = image_tag("key.png")
    %ul{:id => "helper_dot"}
      - t("settings.help_text.id_verification").each_line do |text|
        %li= text
  %br
  %h2 Id Upload
  %br
  .account-settings-row
    = form_tag update_person_details_person_settings_path(:person_id => @person.id), :multipart => true do
      #verification
        #proof
          = file_field_tag :id_proof
          - if @person && @person.id_proof_file_name.present?
            - if @person.is_verify
              %span{:id => "verified"}
                = image_tag("verified.png")
            - else
              Thank you submitting your ID. We will let you know as soon as you are verified

      = button_tag "submit", :class => "submit_form"
:css
  #helper_text {
    background: #3399ff none repeat scroll 0 0 !important;
    border-radius: 5px !important;
    color: white !important;
    padding: 20px 20px 40px 50px;
    font-weight: 600 !important;
    font-size: 14px !important;
  }
  .img-box {
    float: left;
    margin: 23% auto auto;
    text-align: center;
    width: 100px;
  }
  ul#helper_dot {
    margin-left: 150px;
  }
