- content_for :javascript do
  initialize_update_profile_info_form("#{I18n.locale}","#{@person.id.to_s}", #{@current_community.real_name_required?});
  initialize_vat_verification_settings_form("#{I18n.locale}","#{@person.id.to_s}");

- content_for :extra_javascript do
  = javascript_include_tag "https://maps.google.com/maps/api/js?sensor=true"

- content_for :title_header do
  %h1{:class => "setting-header"}
    = t("layouts.no_tribe.settings")

= render :partial => "layouts/left_hand_navigation", :locals => { :links => settings_links_for(@person, @current_community) }

#person_settings_form.left-navi-section.settings-section
  %p
    = t("settings.profile.these_fields_are_shown_in_your")
    = link_to(t("settings.profile.profile_page"), @person, :class => "profile_page") + "."

  = form_for @person do |form|
    - unless @person.is_organization
      = form.label :given_name, t("settings.profile.given_name")
      = form.text_field :given_name, :class => "text_field", :maxlength => "30"
      .inline-label-container
        = form.label :family_name, t("settings.profile.family_name"), :class => "inline"
        %small
          - if ["first_name_with_initial", "first_name_only"].include? @current_community.name_display_type
            = t("settings.profile.#{@current_community.name_display_type}")
      = form.text_field :family_name, :class => "text_field", :maxlength => "30"
    -# Exact address
    .inline-label-container
      = form.label :exact_address, "Your exact address", :class => "inline"
      %small
        (only shown to other users when booking)
    = form.text_field :exact_address, :class => "text_field"
    -# Location
    .inline-label-container
      = form.label :street_address, "Your approximate location", :class => "inline"
      %small
        = t('settings.profile.default_in_listing')
    = form.text_field :street_address, :class => "text_field", :onkeyup => "timed_input(this)"
    %small
      = t("settings.profile.location_description")
    #settings_map_canvas.map
      - content_for :extra_javascript do
        :javascript
          source = document.getElementById("person_street_address");
          $(document).ready(function(){
            googlemapMarkerInit("settings_map_canvas","person_location","person_street_address", true, #{tribe_latitude}, #{tribe_longitude});
            });

    -# Phone number
    .inline-label-container
      = form.label :phone_number, t("settings.profile.phone_number"), :class => "inline"
      %small
        = t('settings.profile.invisible')
    = form.text_field :phone_number, :class => "text_field", :maxlength => "25"

    -# Profile picture
    = form.label :image, t("settings.profile.profile_picture")
    = form.file_field :image, :size => 30, :id => "avatar_file"

    -# About text
    = form.label :description, t("settings.profile.about_you"), :class => "input"
    = form.text_area :description, :class => "update_profile_description_text_area"
    = form.fields_for :location do |loc|
      = loc.hidden_field :address, :value => @person.location.address
      = loc.hidden_field :google_address, :value => @person.location.google_address
      = loc.hidden_field :latitude, :value => @person.location.latitude
      = loc.hidden_field :longitude, :value => @person.location.longitude
      = loc.hidden_field :location_type, :value => "person"
    = form.button t("settings.save_information"), :class => "send_button submit_form"

  %br
  %p
    %b Are you also a registered company?
    (Ex: If you have a production company, etc)

  = form_for @person, :html => { :id => "vat_verification_#{@person.id}" } do |form|
    .row
      .col-7
        .inline-label-container
          = form.label :vat_number, "VAT / CVR Number", :class => "inline"
          %small
            (only shown to other users when booking)
        %div{:style => "display:flex;"}
          = form.select :vat_country_code, options_for_select(get_country_codes(:vat_number), !@person.vat_country_code.nil? ? @person.vat_country_code : "DK"), :prompt => 'Select one'
          %div
            = form.text_field :vat_number, :class => "text_field"
        = form.button "Submit", :class => "send_button submit_form"
        .card_small_loader
          = image_tag "small_loader.gif"
          Verifying...
      - if @person.vat_number.present?
        .col-5
          = image_tag("Check_icon.png")
          %div{:style => "color: #00cc66;"}
            VAT / CVR
            %br
            Verified
