- content_for :javascript do
  initialize_update_notification_settings_form("#{I18n.locale}","#{@person.id.to_s}");

- content_for :title_header do
  %h1= t("layouts.no_tribe.settings")
= render :partial => "layouts/left_hand_navigation", :locals => { :links => settings_links_for(@person, @current_community) }
#person_settings_form.left-navi-section.settings-section.id-verification-settings
  #helper_text_mbl
    .img-box-mbl
      = image_tag("Cellphoneicon.png", :class => "mobile-img")
    %ul{:id => "helper_dot"}
      %br
      %br
      - t("settings.help_text.sms_notifications").each_line do |text|
        %li= text
  %br
  = t("settings.sms_notifications.number_note")
  %br
  = form_for @person do |form|
    -# Phone number
    .inline-label-container
      %div{:style => "display:flex;"}
        = form.select :country_code, options_for_select(get_country_codes(:phone_number), !@person.country_code.nil? ? @person.country_code : 45), :prompt => 'Select one'
        = form.text_field :phone_number, :class => :text_field, :maxlength => "10", :placeholder => "#{t("settings.sms_notifications.phone_placeholder")}", :style => "width:50% !important;"
      = hidden_field_tag "blank_number"
      %span{:id => "numeric_number"}
      %span{:id => "correct_number", :class => t('people.new.correct_number')}
      %br
      %br
      = form.check_box :sms_notification
      = t("settings.sms_notifications.confirm_notification")
      = form.button t("settings.sms_notifications.submit"), :class => "send_button submit_form submit-mobile"
:css
  #helper_text_mbl {
    background: #3399ff none repeat scroll 0 0 !important;
    border-radius: 5px !important;
    color: white !important;
    padding: 20px 20px 40px 50px;
    font-weight: 600 !important;
    font-size: 14px !important;
    height: 250px;
  }
  .img-box-mbl {
    float: left;
    margin: 5% 10% 0 -4%;
    text-align: center;
    width: 100px;
  }
  .mobile-img {
    margin: -16% 35%;
    width: 100%;
  }
  ul#helper_dot {
    margin-left: 150px;
  }
