%script{:src => "https://js.stripe.com/v2/", :type => "text/javascript"}
- content_for :javascript do
  initialize_update_notification_settings_form("#{I18n.locale}","#{@person.id.to_s}");

- content_for :title_header do
  %h1= t("layouts.no_tribe.settings")

= render :partial => "layouts/left_hand_navigation", :locals => { :links => settings_links_for(@person, @current_community) }
#person_settings_form.left-navi-section.settings-section.id-verification-settings
  #helper_text
    .img-box-stripe
      = image_tag("conis.png")
    #insurance_text
      %ul{:id => "helper_dot"}
        - t("settings.help_text.stripe_connect").each_line do |text|
          %li= text
      = link_to "#", :class => "home_play_link", :id => "4_img" do
        .how-to-video
          = image_tag("PlayerIcon.png", :class => "player-image")
          %span{:class => "video_text"}
            A QUICK HOW-TO VIDEO
      .youtube_video
        %iframe{:width => "600", :height => "400", :src => "https://www.youtube.com/embed/6TvB4kQKHNc", :frameborder => "0", :wmode => "transparent"}
  %br
  #stripe-logo
    Secure online payment is made possible in collaboration with Stripe
    = link_to image_tag("stripe-logo.png", :class => "stripe-img"), "//stripe.com", :target => "_blank"
  %br
  %br
  #stripe-logo
    .row
      - if @stripe_details.present?
        %table{:border => 1}
          %th{:align => "center"}
            = "Connected"
          %th{:align => "center"}
            = t("layouts.settings.account_name")
          %th{:align => "center"}
            = t("layouts.settings.iban")
          / uncomment this for update functionality
          / %th
          /   = t("layouts.settings.update")
          %th{:align => "center"}
            = t("listings.form.share_type.select")
          %th{:align => "center"}
            = t("listings.comment.delete").capitalize
          %th{:align => "center"}
          - @stripe_details.current_details.each do |stripe_detail|
            %tr
              %td{:align => "center"}
                - if stripe_detail.status.present?
                  #stripe-logo
                    = image_tag("connected.png", :class => "stripe-img")
                - else
                  No
              %td{:align => "center"}
                = stripe_detail.name
              %td{:align => "center"}
                = stripe_detail.account_number
              /uncomment this for update functionality
              / %td
              /   = button_tag t("layouts.settings.update"), :class => "stripe-update-btn", :url => "#{stripe_connect_person_settings_path(:id => @current_user, :stripe_id => stripe_detail.id)}"
              %td{:align => "center"}
                - if stripe_detail.status.present?
                - else
                  = button_tag t("listings.form.share_type.select"), :class => "stripe-select-btn", :id => "#{stripe_detail.id}", :url => "#{select_stripe_account_person_settings_path(@current_user)}"
              %td{:align => "center"}
                = button_tag t("listings.comment.delete").capitalize, :class => "stripe-delete-btn", :id => "#{stripe_detail.id}", :url => "#{delete_stripe_account_person_settings_path(@current_user)}", :not_delete => stripe_detail.status.present? ? true : false
              %td{:align => "center"}
                = image_tag "small_loader.gif",  :class => "stripe_loader", :id => "stripe_loader_#{stripe_detail.id}", :stripe_id => "#{stripe_detail.id}", :style => "display:none"
        = will_paginate @stripe_details
    / %b
    /   Forbind Konto
    / %br
    %br
    - if @stripe_detail.new_record?
      =# link_to image_tag("blue-on-light.png"), "https://connect.stripe.com/oauth/authorize?response_type=code&client_id=#{STRIPE[:client_id]}&scope=read_write"
      = form_for(@stripe_detail, :url => save_stripe_details_person_settings_path(@current_user.id)) do |f|
        - unless @stripe_detail.errors.messages.blank?
          - @stripe_detail.errors.full_messages.each do |message|
            %font{:color => "red"}
              = "#{message}"
            %br
        - if @stripe_response.present?
          - @stripe_response.each do |res|
            %font{:color => "red"}
              = "#{res}"
        .row
          .col-12
            = f.label :name do
              %b
                = t("layouts.settings.name")
              (
              %i{:style => "font-weight: normal !important;"}
                = t("layouts.settings.italic_text")
              )
            = f.text_field :name, :class => :text_field
        .row
          .col-9
            = f.label :country
            = f.select :country, options_for_select(ALL_COUNTRIES.map{|key, value| [value, key.upcase]}, !@stripe_detail.country.nil? ? @stripe_detail.country : 'DK'), :prompt => 'Select One'
            = hidden_field_tag "currency_url", get_currency_person_settings_path(@current_user.id)
        .row
          .col-3
            = f.label t("layouts.settings.currency")
            = f.select :currency, options_for_select(Money::Currency.all.map{|c| c.iso_code}, !@stripe_detail.currency.nil? ? @stripe_detail.currency : 'DKK'), :prompt => 'Select One'
          .col-3
            = f.label :routing_number do
              = t("layouts.settings.bic")
              .tooltip
                = image_tag("Question_icon.png", :width => 15)
                .tooltiptext
                  %p
                    BIC / Swift is a unique number to identify the specific country and bank. It is usually between 8 - 11 characters. The first 6 is always letters. The rest is a combination of letters and numbers.
                  %p
                    You can find your bank’s BIC / SWIFT number on the bank’s website.
                  %p
                    Here is a list of the most used BIC / SWIFT numbers in Denmark:
                  %p
                    %b
                      .span
                        Jyske Bank Denmark - JYBADKKK
                      .span
                        Danske Bank Denmark - DABADKKK
                      .span
                        Nordea Denmark - NDEADKKK
                      .span
                        Sydbank Denmark - SYBKDK22
                      .span
                        Nykredit Denmark - NYKBDKKK
            = f.text_field :routing_number, :class => :text_field
          .col-3
            = f.label :account_number do
              = t("layouts.settings.iban")
              .tooltip
                = image_tag("Question_icon.png", :width => 15)
                .tooltiptext
                  %p
                    IBAN is unique for all your accounts, and is another way to show bank accounts. An IBAN number usually 18 characters long. It begins with 2 letters which identify the country.
                  %p
                    = "- You can find your IBAN number, in your bank’s account settings."
                  %p
                    An IBAN number can look like this: DK5000400440116243
            = f.text_field :account_number, :class => :text_field
        .row
          .col-3
            = f.label t("layouts.settings.date_of_birth")
            = f.select :dob_day, (1..30).map{|day| day}, :prompt => 'Select One'
          .col-3
            = f.label t("layouts.settings.month")
            = f.select :dob_month, (1..12).map{|month| month}, :prompt => 'Select One'
          .col-3
            = f.label t("layouts.settings.year")
            = f.select :dob_year, (1900..(Time.now.year-10)).map{|year| year}, :prompt => 'Select One'
          .col-3
            = f.label t("layouts.settings.ssn")
            = f.text_field :personal_id_number, :class => :text_field
        .row
          .col-3
            = f.label t("layouts.settings.city")
            = f.text_field :city, :class => :text_field
          .col-3
            = f.label t("layouts.settings.home_address")
            = f.text_field :line1, :class => :text_field
          .col-3
            = f.label t("layouts.settings.zip_code")
            = f.text_field :postal_code, :class => :text_field
          .col-3
            = f.label t("layouts.settings.state")
            = f.text_field :state, :class => :text_field
        .row
          = button_tag "Add"
    - else
      = form_for(@stripe_detail, :url => update_stripe_details_person_settings_path(@current_user.id), :method => "post") do |f|
        - unless @stripe_detail.errors.messages.blank?
          - @stripe_detail.errors.full_messages.each do |message|
            %font{:color => "red"}
              = "#{message}"
            %br
        - if @stripe_response.present?
          - @stripe_response.each do |res|
            %font{:color => "red"}
              = "#{res}"
        .row
          .col-3
            = f.label t("layouts.settings.name")
            = f.text_field :name, :class => :text_field
        .row
          .col-3
            = f.label t("layouts.settings.city")
            = f.text_field :city, :class => :text_field
            = hidden_field_tag "stripe_id", params[:stripe_id]
          .col-3
            = f.label t("layouts.settings.home_address")
            = f.text_field :line1, :class => :text_field
          .col-3
            = f.label t("layouts.settings.zip_code")
            = f.text_field :postal_code, :class => :text_field
          .col-3
            = f.label t("layouts.settings.state")
            = f.text_field :state, :class => :text_field
        .row
          = button_tag "Update"
:css
  #helper_text {
    background: #3399ff none repeat scroll 0 0 !important;
    border-radius: 5px !important;
    color: white !important;
    padding: 20px 20px 40px 50px;
    font-weight: 600 !important;
    font-size: 14px !important;
  }
  .img-box-stripe {
    float: left;
    margin: 15% auto auto;
    text-align: center;
    width: 100px;
  }
  #insurance_text {
    margin-left: 5%;
  }
  ul#helper_dot {
    margin-left: 150px;
  }
  .home_play_link {
    display: block;
    margin-top: 25px;
  }
  .how-to-video {
    color: white;
    font-size: 25px;
    margin-left: 150px;
  }
  .player-image {
    height: 69px;
    vertical-align: middle;
    width: 69px;
  }
  .video_text {
    margin-left: 12px !important;
  }
  .youtube_video {
    display: none;
  }

  .tooltip {
    position: relative;
    display: inline-block;
  }

  .tooltip .tooltiptext {
      visibility: hidden;
      width: 400px;
      background-color: #555;
      color: #fff;
      font-size: 12px;
      text-align: center;
      border-radius: 6px;
      padding: 5px 16px;
      position: absolute;
      z-index: 1;
      bottom: 125%;
      left: 50%;
      margin-left: -200px;
      opacity: 0;
      transition: opacity 1s;
  }

  .tooltip .tooltiptext::after {
      content: "";
      position: absolute;
      top: 100%;
      left: 50%;
      margin-left: -5px;
      border-width: 5px;
      border-style: solid;
      border-color: #555 transparent transparent transparent;
  }

  .tooltip:hover .tooltiptext {
      visibility: visible;
      opacity: 1;
  }
