
- if custom_fields && custom_fields.count > 0
  .new_listing_form_field_container
    - custom_fields.each do |custom_field|
      - custom_field.with_type do |field_type|
        = label "custom_fields", "#{custom_field.id}".to_sym, "#{custom_field.name(I18n.locale)}#{custom_field.required ? '*' : ''}", :class => "#{custom_field.name.match(/Replacement/) ? 'replacement_percent' : ''}"
        = render :partial => "listings/form/custom_field_partials/#{field_type}", :locals => { :custom_field => custom_field, :custom_field_value => listing.answer_for(custom_field) }
  #slider

:javascript
  $(function() {
    if ($('#slider').length > 0) {
      max_value = parseInt("#{@listing.category.max_replacement_percent.last}");
      min_value = parseInt("#{@listing.category.min_replacement_percent.last}");
      value = parseInt("#{@listing.category.replacement_percent.last}")
      exact_value = 0
      $('.replacement_percent').insertBefore('.price-container');
      $('#slider').insertBefore('.price-container');
      $('.description').insertBefore('.price-container');

      $('#replacement_percent').on('input', function() {
          current_value = $(this).val();
          maximum_value = current_value * (max_value/100)
          minimum_value = current_value * (min_value/100)
          new_value     = current_value * (value/100)
          exact_value = new_value
          $('#slider' ).slider("option", 'value', new_value);
          $('#slider').slider( "option", "min", minimum_value );
          $('#slider').slider( "option", "max", maximum_value );
          $('#listing_price').val( Math.ceil($('#slider').slider( 'value' )));
          if ($('#slider').slider( 'value' ) > exact_value)
            $('.description i').html("#{t(:less_likely)}").css('color','red')
          else
            $('.description i').html("#{t(:more_likely)}").css('color','green')
          $('.description> b > i').html(exact_value).css('color','#3c3c3c');
      });

      $('#slider').slider({
        value: value,
        min: min_value,
        max: max_value,
        slide: function( event, ui ) {
          $( '#listing_price' ).val( ui.value );
          if ($('#slider').slider( 'value' ) > exact_value)
            $('.description i').html("#{t(:less_likely)}").css('color','red')
          else
            $('.description i').html("#{t(:more_likely)}").css('color','green')
          $('.description> b > i').html(exact_value).css('color','#3c3c3c');
        }
      });
      $('#slider').css('margin-top', '12px');
      $('.description').css('margin-top', '12px');
      $('#listing_price').val( $('#slider').slider('value') );
    }
  });
