= form.label :description, t('.detailed_description'), :class => "input"
%small
  (Write a detailed description of your gear, and other important information about your listing you want the renters to know about)
= form.text_area(:description, :maxlength => "5000", :class => "listing_description_textarea")
