#images
= form.label :image, t('.image'), :class => "input"

= render partial: "layouts/info_text", locals: { text: t("listings.form.images.best_result", width: 660, height: 440) }


.flash-notifications.js-listing-image-loading.hidden
  .flash-notification{:class => "flash-notice"}
    .flash-icon{:class => icon_class("loading")}
    .flash-text
      = t("listings.form.images.image_uploading_in_progress")

.flash-notifications.js-listing-image-loading-done.hidden
  .flash-notification{:class => "flash-notice"}
    .flash-icon{:class => icon_class("check")}
    .flash-text
      = t("listings.form.images.processing_takes_a_while")

.listing-images#image-uploader-container
  %script{type: "text/template", class: "template", id: "new-image-tmpl"}
    #fileupload.fileinput-button.upload-image-placeholder
      .fileupload-text-container
        .fileupload-centered-text
          .fileupload-text
          .fileupload-small-text
      %input.fileupload{type: "file", multiple: "multiple"}
      %img.fileupload-preview-image
      .fileupload-preview-remove-image
        = icon_tag("cross", ["icon-fix"])
      %input.listing-image-id{type: "hidden", name: "listing_images[][id]"}
