- required = Maybe(@current_community).listing_location_required.or_else { false }
- title = t(".location") + (required ? "*" : "")
- required_class = (required ? "required" : "")

= form.label :origin, title, :class => "input"
%small
  (Do not provide your exact address here, but just an approximation. Ex: "Østerbro 2400 Kbh"- Your exact address will be visible to the renter when the booking is complete.)
= form.text_field :origin, :class => "text_field #{required_class}", :onkeyup => "timed_input(this)", :value => (origin_loc ? origin_loc.address : nil)
= form.fields_for :origin_loc do |loc|
  = loc.hidden_field :address, :value => origin_loc.address
  = loc.hidden_field :google_address, :value => origin_loc.google_address
  = loc.hidden_field :latitude, :value => origin_loc.latitude
  = loc.hidden_field :longitude, :value => origin_loc.longitude
  = loc.hidden_field :location_type, :value => origin_loc.location_type
