= form.label :title, t(".listing_title") + "*", :class => "input"
%small
  (Ex: "Red Epic Package"-"Kino Flow Light Package" etc.)
= form.text_field(:title, :class => "title_text_field", :maxlength => "60")
