.label
  - if ListingShape.find(shape[:id]).name == "renting-out"
    %span{:style =>"font-weight:normal !important;"}
      = t(".price_steps")
    = form.label :price_3_days, t('.price_3_days'), :class => "input"
    = form.text_field :price_3_days, :class => "price-field"
    = form.label :price_5_days, t('.price_5_days'), :class => "input"
    = form.text_field :price_5_days, :class => "price-field"
.label
  - if ListingShape.find(shape[:id]).name == "renting-out"
    = form.check_box :weekend
    &nbsp;
    Weekend Discount
  %span{:style =>"font-weight:normal !important;"}
    = t('.weekend_dis')