/**
  Contains styles for listing grid's image part
*/

@import "mixins/all";

.fluid-thumbnail-grid-image-image-container {
  position: relative;
  color: $background;

  &:hover {
    color: $highlight;
  }

  @include block-with-aspect-ratio(3/2);
}

.fluid-thumbnail-grid-image-title {
  position: absolute;
  bottom: 0;
  padding: lines(0.5);
  line-height: 1.2em;
}

.fluid-thumbnail-grid-image-overlay {
  @include border-top-radius($default-border-radius);
  @include overlay;
  @include absolutely-all;
}

.fluid-thumbnail-grid-image-image {
  @include border-top-radius($default-border-radius);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.fluid-thumbnail-grid-image-price-container {

  background-color: #cf4760;
  border-bottom-left-radius: 0.375em;
  color: #fff;
  font-size: 12px;
  font-weight: 600;
  max-width: 75%;
  min-width: 3.125em;
  overflow: hidden;
  padding: 0.3em 0.75em;
  position: absolute;
  right: 0;
  text-align: center;
  text-overflow: ellipsis;
  top: 0;
  white-space: nowrap;
}

.fluid-thumbnail-grid-image-price {
  font-size: 18px; // Bigger size for the price
}

.fluid-thumbnail-grid-image-type {
  font-size: 16px;
}
