@import "mixins/all";

.visible-tablet {

  @include media(tablet) {
    display: block !important;
  }
}

.visible-tablet-inline {
  @extend .visible-tablet;
  @include media(tablet) {
    display: inline !important;
  }
}

.hidden-tablet {
  @include media(tablet) {
    display: none !important;
  }
}

.visible-desktop {
  display: none;

  @include media(desktop) {
    display: block;
  }
}

.visible-desktop-inline {
  @extend .visible-tablet;
  @include media(tablet) {
    display: inline;
  }
}

.hidden-desktop {
  @include media(desktop) {
    display: none !important;
  }
}
.visible-tablet-inline{display:inline-block !important}
#header-user-mobile-anchor{overflow:hidden;}
.header-wrapper{  background: transparent none repeat scroll 0 0 !important;
    overflow: hidden;}
    .icon-dropdown {
    float: none !important;
    position: relative;
    top: 0 !important;
}
