@import "compass/css3/box-sizing";
@import "compass/utilities/general/clearfix";
@import "compass/css3/text-shadow";
@import "compass/css3/images";
@import "compass/css3/border-radius";
@import "compass/css3/box-shadow";
@import "mixins/all";

/**
  This file is deprecated: Put your SCSS to views/ and partials/
  and include them in application.scss.erb
*/

*, *:before, *:after {
  @include box-sizing(border-box);
}

/**
  Enable fast click:

  For IE10, you can use -ms-touch-action: none to disable double-tap-to-zoom on certain elements
  (like links and buttons) as described in this MSDN blog post.
*/
a, input, button {
  -ms-touch-action: none !important;
}

/*
  --------------------------
  Typography and link styles
  --------------------------
*/

body {
  @include source-sans-pro;
  @include normal-type;

  @include media(tiny-mobile) {
    // Zooms out on tiny screens
    font-size: em(13);
  }
}

.page-content {
  padding-bottom: lines(3);
  padding-top: lines(0.5);

  p {
    margin-bottom: lines(0.5);
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
  }

  br {
    height: lines(0.5);
  }

  @include media(tablet) {
    padding-top: lines(1);
  }

}

/*
  ---------------------
  Often used components
  ---------------------
*/

@mixin photoshop-text-shadow ($angle: 0, $distance: 0, $spread: 0, $size: 0, $color: #000) {
  // NOTE: $spread has no effect for text shadows
  $angle: (180 - $angle) * pi() / 180;
  $h-shadow: round(cos($angle) * $distance);
  $v-shadow: round(sin($angle) * $distance);
  $css-spread: $size * $spread/100;
  $blur: ($size - $css-spread);

  @include text-shadow($h-shadow $v-shadow $blur $color);
}

body {
  background: $background;
  color: $body;
  height: auto; // fixes some height issues in the map view
  //border: solid darken($highlight, 9%);
  //border-width: 0 0 lines(1);
}

ul {
  padding-left: lines(1);
}

.section {
  padding: lines(0.5);
  @include clearfix;
  @include media(tablet) {
    padding: lines(0) lines(0.5);
  }
  @include media(desktop) {
    padding: lines(0) lines(0);
  }
}

@mixin facebook-connect-button {
  position: relative;
  cursor: pointer;
  color: white;
  display: block;
  text-align: left;
  @include single-text-shadow;
  background: #25567c;
  min-height: 42px;
  &:hover {
    background: #6f99bc;
  }
  @include border-radius(em(5));

  .fb-icon {
    position: absolute;
    @include big-type;
    top: em(10);
    left: em(7);
  }

  .fb-text {
    padding: em(0) em(10) em(7) em(30);
  }

  @include media(tablet) {
    .fb-icon {
      @include large-type;
      top: em(5);
      left: em(5);
    }
    .fb-text {
      padding: em(1) em(10) em(7) em(35);
    }
  }

}

.centered-section, .centered-section-wide, .centered-section-narrow, .left-navi-section {
  margin-top: lines(0.25);

  textarea {
    height: lines(5);
  }
}

.centered-section-narrow {
  max-width: lines(15);
}

.centered-section {
  max-width: lines(19);
}

.centered-section-wide {
  max-width: lines(25);
}

// User for simple centered views, mostly with forms
.centered-section, .centered-section-wide, .centered-section-narrow {
  padding: lines(0.5);
  margin-left: auto;
  margin-right: auto;

  form {
    padding-bottom: lines(2);
  }

  a.fb-connect {
    @include facebook-connect-button;
    padding: em(10) 2% em(6) 2%;
    width: 100%;
    margin-bottom: lines(0.5);
    margin-top: lines(1.5);
  }

  .jsmap {
    display: block;
    width: 100%;
    height: lines(8);
    margin-top: lines(0.5);
  }

  select.full-width {
    display: block;
    width: 100%;
    margin-top: em(5);
  }

  @include media(desktop) {
    padding: 0 lines(0.5);
  }

}

// Used for views with left hand navigation
.left-navi-section {
  padding: lines(0.5) 0;

  @include media(tablet) {
    padding: 0 lines(0.5);
    margin-left: lines(10.5);
  }

  @include media(desktop) {
    padding: 0;
  }

  small {
    display: inline;
  }

  .map {
    display: block;
    width: 100%;
    height: lines(8);
    margin-top: lines(0.5);
  }

}

// Left hand navigation menu
.left-navi {
  $selected-highlight-padding: lines(0.25);
  display: none;
  // Add negative margin, which pulls the container up the amount of highlight padding.
  // This ensures the texts are aligned.
  margin-top: -1 * $selected-highlight-padding;

  @include media(tablet) {
    display: block;
    position: absolute;
    a {
      position: relative;
      padding: $selected-highlight-padding lines(0.5);
      display: block;
      font-weight: normal;
      cursor: pointer;
      @include border-radius(em(5));
      width: lines(9.5);
      min-height: em(38);
    }
    a.selected {
      background: $highlight;
      &:after {
        display: block;
        position: absolute;
        right: lines(0.5); top: em(7);
        content: "→";
      };
    }
    .left-navi-link-text {
      padding: 0 lines(1) 0 lines(1);
    }

    .left-navi-link-icon {
      position: absolute;
      top: em(8);
    }
  }
}

.avatar {
  position: relative;
  width: lines(1);

  img {
    width: 100%;
    @include border-radius(em(5));
  }
}

.icon {
  @include big-type;
  height: lines(1, 24);
  overflow: hidden;
  text-align: center;
  display: block;
  padding-top: lines(0.05);
}

.icon-with-text {
  display: inline-block;
  padding-right: em(4);

  // ss-pika is not correctly aligned, thus some fine-tuning is needed
  position: relative;
  top: em(2);
}
.list-icon-margin { margin-top: em(3); }
.text-with-icon { display: inline-block;}

.icon-with-text-container {
  position: relative;
  display: inline-block;
  margin-right: em(10);
  text-align: left;
  .icon-part {
    position: absolute;
    top: em(2);
  }
  .text-part {
    padding-left: em(23);
    min-height: em(30);
  }
}

form {

  .checkbox-container {
    position: relative;

    input[type=checkbox] {
      position: absolute;
      top: lines(0.5) + em(3);
    }

    input[type=radio] {
      position: absolute;
      top: lines(0.5)
    }

    label {
      display: inline-block;
      width: auto;
      padding: 0 0 0 lines(1);
      margin-top: lines(0.5) - em(3);
      margin-bottom: em(3);
      font-weight: 600;
    }

    label.radio {
      margin-top: lines(0.5) - em(5);
    }

    a {
      display: inline-block;
    }

  }

  .select-tag-dropdown {
    margin-bottom: lines(0.5);
  }

}

.unwanted_text_field {
  display:none;
}

.inline-label-container {
  margin-top: lines(0.5);
  margin-bottom: em(1);
}

.label {
  width: 100%;
  display: block;
  margin-top: lines(0.5);
  margin-bottom: em(3);
  font-weight: 600;
}

label {
  @extend .label;
}

label.inline {
  width: auto;
  display: inline;
  margin-right: lines(0.5);
}

label.radiobutton {
  display: inline;
  margin-left: lines(0.25);
  font-weight: 500;
}

.label-info {
  display: inline;
  color: $aside;
  @include small-type;
  cursor: pointer;
}

button, .button {
  @include button($link);
}

.inline-button-container {
  display: inline-block;
  vertical-align: top;
}

.cancel-button {
  @include button($aside);
  margin-left: lines(0.25);
}

.delete-button {
  @include button(red);
}

.big-button {
  @include big-button($link);
}

.inline-big-button {
  @extend .big-button;
  margin: 0 auto;
}

.sign_up_link, .sign_up_link:hover, .send_reply_msg, send_reply_msg:hover {
  background: #3399ff none repeat scroll 0 0 !important;
}

.transaction_head{
  color: #3399ff !important;
}
#inbox-conversation{
  color :#ffffff !important;
}

.listing_title_head{
  color :#000000 !important;
}


label.error {
  @include border-radius(em(5));
  padding: em(5) em(10) em(10) em(10);
  background: red;
  color: $background;
  display: block;
  width: 100%;
  margin: lines(0.5) 0 lines(0.5) 0;
  position: relative;
  &:before {
    content: "";
    border: em(8) solid transparent;
    border-bottom-color: red;
    position: absolute;
    left: em(18); top: em(-16);
  }

}

.unread {
  background: $highlight;
}

// Notification that doesn't disappear
.permanent-notification {
  margin-bottom: lines(0.5);
  @include small-type;
  color: $aside;
}

// Creates some bottom padding for absolute-positioned views
.bottom-margin {
  display: none;

  @include media(tablet) {
    display: block;
    position: absolute;
    top: lines(28.5);
    left: lines(30);
    width: lines(12);
    height: lines(5);
  }
}

// Share type label
.share-type-link {
  @include share-type-link;
}

/*
  ------------
  Tribe header
  ------------
*/

.tribe-actions {

  background: $link;

  // Hide texts in narrow viewports
  .hidden {
    display: none;
  }

  // Left-aligned links
  a {
    display: block;
    float: left;
    padding: em(8) em(7) em(12) em(9);
    color: $emphasis;
    height: em(24);
    overflow: hidden;
    color: $background;
    &:hover {
      background: darken($link, 5%);
    }
  }

  a.selected-navi-link {
    color: $body;
    background: $background;
  }

  a.first-child {
    margin-left: lines(0);
  }

  .about-toggle.toggled {
    background: $emphasis;
  }

  @include media(tablet) {

    // Tribe intro and search are always shown in wide viewports
    // so these toggles get hidden
    .about-toggle {
      display: none;
    }

    .search-toggle {
      display: none;
    }

    a {
      padding: em(8) em(15) em(12) em(15);
    }

    a.first-child {
      margin-left: lines(10.5);
    }

  }

  @include media(desktop) {

    // Show texts only in really wide viewports
    .hidden {
      display: inline-block;
    }
  }

}

/*
  --------------------------------------
  Common header (no tribe customization)
  --------------------------------------
*/

.no-tribe-title {
  color: $background;
  position: absolute;
  bottom: em(-4);
  left: em(2);

  @include source-sans-pro;
  @include mega-type;
  z-index: 0;
  @include media(tablet) {
    right: 0;
    left: auto;
    @include giga-type;
  }
}

.no-tribe-section {
  @include media(tablet) {
    margin-top: lines(1);
  }
}

/*
  -----------
  Lightbox
  -----------
*/

.lightbox, .expiration-notice {
  display: none;
  position: relative;
  margin: lines(10) auto;
  max-width: lines(22);
  padding: lines(1.25) lines(1);
}

.lightbox-content {
  position: relative;
  width: 100%;
  background: $background;
  padding: lines(1);
  @include border-radius(em(5));

  h2 {
    margin-bottom: lines(0.25);
  }

  h3, h4 {
    margin-top: lines(0.5);
    margin-bottom: lines(0.25);
  }

  p {
    margin-bottom: lines(0.5);
    @include small-type;
  }

  .consent {
    margin-top: lines(2);
  }

  @include media(tablet) {
    h2 {
      @include big-type;
    }
    p {
      @include normal-type;
    }
  }
}

.image-lightbox {
  max-width: em(800);
}

.image-lightbox-content {
  padding: lines(0.5);
  img {
    width: 100%;
  }
}

a.lightbox-x {
  border: em(2) solid $background;
  width: lines(1.25);
  height: lines(1.25);
  padding: em(1) em(4);
  position: absolute;
  right: lines(-0.5);
  top: lines(-0.5);
  &:hover {
    background: $body;
  }

  @include border-radius(50%);
  background: $emphasis;
  border: em(3) solid $background;
  color: $background;
  @include media(tablet) {
    width: lines(1.5);
    height: lines(1.5);
    @include big-type;
    padding: em(7);
  }
}

/*
  ------------------------
  Expiration
  ------------------------
*/

.expiration-lightbox {
  max-width: 675px;
  width: 95%;
}
.expiration-content {
  position: relative;
  width: 100%;
  background: $background;
  @include border-radius(em(5));
}
.expiration-head-panel {
  width: 90%;
  margin: 0 auto 30px auto;
}
.expiration-title {
  font-size: 38px;
  line-height: 38px;
  font-weight: normal;
  text-align: center;
  margin: 0px;
  padding: 30px 0;
}

.expiration-subtitle {
  font-size: 17px;
  line-height: 30px;
  font-weight: normal;
  text-align: center;
  margin: 0px;
}

.expiration-plans-panel {
  background-color: $expiration-background;
}
.expiration-plans-wrapper {
  margin: 0 auto;
  padding: 30px 15px;
}
.expiration-plan-title {
  font-size: 26px;
  line-height: 30px;
  text-align: center;
  margin: 0 0 30px 0;
}
.expiration-plan-desc {
  font-size: 16px;
  line-height: 30px;
  text-align: center;
}
.expiration-plan-select {
  max-width: 400px;
  margin: 30px auto 0 auto;
  @include clearfix();
}

.expiration-plan-wrapper {
  width: 185px;
  margin: 10px auto;
}
.expiration-plan-wrapper-left {
  @extend .expiration-plan-wrapper;
  @include media(small-tablet) {
    float: left;
    margin: 0;
  }
}
.expiration-plan-wrapper-right {
  @extend .expiration-plan-wrapper;
  @include media(small-tablet) {
    float: right;
    margin: 0;
  }
}
.expiration-plan-monthly,
.expiration-plan-biannual {
  @include border-radius(em(5));
  background-color: white;
  color: black;
  padding: 30px 0;
  border: solid 1px #ccc;
}
.expiration-plan-biannual {
  background-color: $sharetribe-color;
  border: solid 1px $sharetribe-color;
  color: white;
}
.expiration-subscribe-title {
  text-align: center;
  font-size: 21px;
  line-height: 21px;
}
.expiration-subscribe-price-per {
  display: block;
  margin: 10px auto 0 auto;
  width: 92px;
}
.expiration-subscribe-price {
  text-align: center;
  font-size: 46px;
  line-height: 48px;
}
.expiration-subscribe-per {
  text-align: center;
  font-size: 16px;
  line-height: 16px;
}
.plan-price-disclaimer-desc {
  font-size: 13px;
  color: #999;
  margin-top: 10px;
}
.expiration-footer {
  padding: 30px 10px;
}
.expiration-alternative-plans {
  font-size: 14px;
  line-height: 14px;
  text-align: center;
}


/*
  ------------------------
  Noscript
  ------------------------
*/

$noscript-height: lines(4);

.noscript-padding {
  height: $noscript-height;
}

.noscript {
  position: fixed;
  top: 0;
  width: 100%;
  padding: lines(0.5) lines(0);
  height: $noscript-height;
  background: $error-red;
  color: white;

  .wrapper {
    &, h2, p {
      background: $error-red;
      color: white;
    }
  }
}

/*
  ---------------------
  Error page
  ---------------------
*/

.error-page {
  padding-top: lines(3);
  p {
    padding: lines(0.5) 0;
  }
  button {
    padding: em(7) em(20) em(7) em(20);
  }
}

/*
  ----------
  Homepage
  ----------
*/

.app-store-badge {
  display: none;
  @include media(tablet) {
    display: block;
    margin-top: lines(0.75);
    img {
      width: 75%;
    }
  }
}

.private-listing-notification {
  padding: 0 lines(0.75);
  @include media(tablet) {
    padding: 0;
  }
}

.feed-actions {
  background: $background;

  .request-link {
    display: block;
    float: left;
    padding: em(10) em(15) em(10) em(15);
    color: $link;
    &:hover { color: darken($link, 15%); }
  }

  @include media(tablet) {

    .request-link {
      @include big-button($link);
      padding: em(8) em(8) em(10) em(8);
      width: 100%;
      margin: 0 0 lines(0.5) 0;
      &:hover { color: $background; }
    }

  }

}

.feed-filters {
  background: $emphasis;
  padding: lines(0.5);
  position: relative;

  .filter-title {
    display: none;
  }

  .feed-filter-dropdowns {
    margin-top: lines(0.25);
  }

  @include media(tablet) {
    background: $background;
    padding: 0;

    .filter-title {
      margin-bottom: lines(0.25);
      display: block;
    }

    .feed-filter-dropdowns {
      margin-top: 0;
      select {
        margin-bottom: lines(0.25);
      }
    }

    select, option {
      //-webkit-appearance: none;
      width: lines(11.4);
    }

  }

}

.feed-map-link {
  position: relative;

  a.map-link, .hidden-text {
    display: none;
  }

  @include media(tablet) {
    background: transparent;
    padding: 0;

    a.map-link {
      display: inline;
      cursor: pointer;
      position: absolute;
      top: lines(0); right: 0;
      padding-top: em(9);
      color: $body;
      &:hover { color: $link; }
      margin-right: lines(0.5);
    }

  }

  @include media(desktop) {

    // Show texts only in really wide viewports

    .hidden-text {
      margin-right: 0;
      display: inline-block;
    }
  }

}

.feed-navigation {
  background: $emphasis;

  @include media(tablet) {
    // Turns into a sidebar
    float: left;
    width: lines(11.5);

    .toggle {
      display: none;
    }

    .toggle-menu {
      display: block;
    }
  }

}

.feed {

  .map {
    display: block;
    width: 100%;
    height: lines(12.5);
  }

  @include media(tablet) {
    margin-left: lines(13.5);
    .map {
      height: lines(18);
    }
  }

}

.view-item {

  .item-description {
    @include media(tablet) {
      padding-right: lines(16); // Makes horizontal space for image
      min-height: lines(10); // Makes sure there's always enough vertical space for the image
    }

    p, li {
      @include small-type;
      @include media(small-tablet) {
        @include normal-type;
      }
    }
  }

  .button {
    margin: 0 0 lines(0.5) 0;
    width: 100%;
    display: block;

    @include media(tablet) {
      @include big-button($link);
      margin: 0;
      position: absolute;
      right: 0; top: 0;
      width: lines(11) - em(2);
    }
  }

  .listing-icons {
    padding-top: lines(0.5);
    a {
      color: $body;
      &:hover { color: $link; }
    }
  }

  .listing-departure-time {
    padding: lines(0.25) 0 lines(0.5) 0;
  }

  .item-image {
    position: relative;
    float: right;
    width: lines(4.5);
    margin: 0 0 lines(0.5) lines(0.5);

    img {
      display: block;
      max-width: 100%;
      @include border-radius(em(5));
    }

    @include media(tablet) {
      float: none;
      margin: 0;
      position: absolute;
      right: lines(0); top: lines(4);
      width: lines(15);
      height: lines(11.25);
      img {
        width: lines(15);
        height: lines(11.25);
        max-width: lines(15);
      }
    }
  }

  .jsmap {
    display: block;
    width: 100%;
    height: lines(8);
    top: 0;

    @include media(tablet) {
      position: absolute;
      right: lines(0); top: lines(17);
      width: lines(15);
      height: lines(10);
    }
  }

  .upper-map {
    @include media(tablet) {
      top: lines(4);
    }
  }

  .listing-author {
    position: relative;
    padding-top: lines(1);
    min-height: lines(5);

    h3 {
      margin: 0;
      padding: 0;
      display: inline;
    }

    .listing-author-image {
      padding: em(5) em(5) em(2) em(5);
      background: $background;
      position: absolute;
      top: lines(1);
      left: em(3);
      @include border-radius(em(5));
      @include box-shadow(rgba(0,0,0,0.2) 0 0 em(3) em(2));
      width: lines(2);

      img {
        @include border-radius(em(5));
        width: 100%;
      }
    }

    .listing-author-description {
      padding-left: lines(3.25);

      .icon-with-text, .text-with-icon {

      }

      .icon-with-text {
        margin-top: 0;
        @include small-type;
      }

      .text-with-icon {
        margin-top: em(4);
        @include small-type;
      }

    }

    @include media(tablet) {
      padding-top: lines(1.25);

      .listing-author-image {
        width: lines(4.5);
        padding: em(5) em(5) em(2) em(5);
      }

      .listing-author-description {
        padding-left: lines(6);
        .icon-with-text {
          margin-top: em(2);
          @include normal-type;
        }

        .text-with-icon {
          margin-top: 0;
          @include normal-type;
        }
      }

    }

  }

  .social {
    position: relative;
    padding-top: lines(0.5);

    .fb-like-container {
      position: absolute;
    }

    .tweet-button-container {
      padding-left: lines(8.5);
    }

  }

  .discussion {

    h2 {
      margin-top: 0;
      margin-bottom: lines(0.25);
      display: inline-block;
    }

    .follow-links {
      display: inline-block;
      margin-left: lines(0.5);
    }

    .comment {
      position: relative;
      border-top: 1px dotted $border;
      padding: lines(0.25) lines(1) lines(0.25) lines(1.5);

      .avatar {
        position: absolute;
        left: 0; top: lines(0.5);
        img {
          @include border-radius(em(5));
        }
      }

      h3, small {
        display: inline;
      }

      small {
        color: $aside;
      }

      .comment-content, .comment-icon {
        @include small-type;
        @include media(small-tablet) {
          @include normal-type;
        }
      }

      .comment-icons {
        padding-top: lines(0.25);
        padding-bottom: lines(0.25);
      }

      .comment-icon {
        display: inline-block;
        margin-right: lines(0.5);
      }

    }

    .comment-form {
      border-top: 1px dotted $border;
      padding-top: lines(0.5);
      position: relative;

      textarea {
        width: 95%;
        height: lines(4);
      }

    }

    @include media(tablet) {
      padding-top: lines(1.5);

      h2 {
        @include big-type;
      }

      .comment {
        padding: lines(0.5) lines(1) lines(0.25) lines(2.5);

        .avatar {
          width: lines(2);
        }

        h3 {
          margin: 0;
        }
      }

      .comment-form {
        textarea {
          width: 100%;
          height: lines(6);
        }
      }
    }
  }
}

.overflow-allowed {
  overflow: visible;
}

.view-profile {

  .profile-description {

    .profile-details {
      min-height: lines(5);
    }

    p, li {
      @include small-type;
      @include media(small-tablet) {
        @include normal-type;
      }
    }

    @include media(tablet) {
      padding-right: lines(14); // Makes horizontal space for image

      .profile-details {
        min-height: 0;
      }
    }
  }

  .button {
    margin: 0 0 lines(0.5) 0;
    width: 100%;
    display: block;

    @include media(tablet) {
      @include big-button($link);
      margin: 0;
      position: absolute;
      right: 0; top: 0;
      width: lines(8.5) + em(5);
    }
  }

  .profile-image {
    position: relative;
    float: right;
    width: lines(4.5);
    height: lines(4.5);
    margin: 0 0 lines(0.5) lines(0.5);

    img {
      display: block;
      width: lines(4.5);
      height: lines(4.5);
      @include border-radius(em(5));
    }

    @include media(tablet) {
      float: none;
      margin: 0;
      position: absolute;
      right: lines(0); top: lines(4);
      width: lines(12);
      height: lines(12);
      img {
        width: lines(12);
        max-width: lines(12);
        height: lines(12);
      }
    }
  }

  .profile-icons {
    padding-top: lines(0.5);
  }

  .jsmap {
    display: block;
    width: 100%;
    height: lines(8);
    margin-top: lines(0.5);

    @include media(tablet) {
      margin-top: 0;
      margin-bottom: lines(2);
      position: absolute;
      right: lines(0); top: lines(17.5);
      width: lines(12);
      height: lines(10);
    }
  }

  .trustcloud {
    display: block;
    width: 100%;
    height: lines(8);
    margin-top: lines(0.5);

    small {
      display: inline;
      margin-left: lines(0.5);
    }

    @include media(tablet) {
      margin-top: 0;
      margin-bottom: lines(2);
      position: absolute;
      right: lines(0); top: lines(19.5);
      width: lines(12);
      height: lines(10);
    }
  }

  .trustcard-upper {
    @include media(tablet) {
      right: lines(0); top: lines(17.5);
    }
  }

  .trustcard-lower {
    @include media(tablet) {
      right: lines(0); top: lines(28.5);
    }
  }

  .action-link {
    display: block;
    width: 100%;
    margin-right: lines(0.5);
    cursor: pointer;

    @include media(tablet) {
      position: absolute;
      right: 0; top: lines(17.5);
      width: lines(10.5);
      text-align: left;
      padding-bottom: lines(0.25);
    }

  }

  .add-profile-picture-link {
    display: none;
    @include media(tablet) {
      cursor: pointer;
      position: absolute;
      right: 0;
      margin: 0;
      width: lines(10);
      padding: lines(0.5) lines(1);
      display: block;
      top: lines(15);
      color: $background;
      background: $link;
      @include border-bottom-radius(em(5));
      &:hover {
        color: $background;
        background: darken($link, 10%);
      }
    }
  }
}

/*
  ----------------
  Login form
  ----------------
*/

.login-form {

  .facebook-account-info {
    color: $body;
    position: relative;
    display: block;
    width: 100%;
    @include border-radius(em(5));
    border: 1px solid $border;
    margin-bottom: lines(0.25);
    .link-icon {
      position: absolute;
      top: em(8);
      left: em(12);
    }
    .link-text {
      margin-left: em(40);
      margin-right: lines(1.5);
      padding: em(6) 0 em(10) 0;
    }
  }

}

#password_forgotten {
  display: none;
}

/*
  ----------------
  Signup form
  ----------------
*/

/*
  ----------------
  New message form
  ----------------
*/

.title-label {
  font-weight: 600;
}

/*
  ----------------
  New feedback form
  ----------------
*/

.new-feedback-form {
  padding-top: lines(1);
  @include media(tablet) {
    padding-top: 0;
  }
}

/*
  ----------------
  New listing form
  ----------------
*/

.new-listing-form, .edit-listing-form {

  h2 {
    margin-top: lines(0.5);
  }

  a.select {
    position: relative;
    display: block;
    width: 100%;
    @include border-radius(em(5));
    border: 2px solid $border;
    min-height: 42px;
    &:hover {
      background: $highlight;
      cursor: pointer;
    }
    margin-bottom: lines(0.25);
    .link-text {
      margin-left: em(15);
      padding: em(6) 0 em(8) 0;
    }
  }

  a.selected {
    background: $highlight;
    position: relative;
  }

  select.listing_datetime_select {
    margin-left: lines(0.25);
  }

  .selected-group, .option-group {

    .hidden {
      display: none;
    }

  }

}

.price-title-field {
  max-width: lines(8);
}

.price-field {
  max-width: lines(5);
}

.currency-selector {
  margin-left: lines(0.25);
  display: inline;
  @include big-type;
}

.quantity-field {
  max-width: lines(7);
}

.quantity-description {
  margin: 0 lines(0.25);
  display: inline;
}

.delivery-options-container{
  margin-top: lines(0.5);
}

.delivery-title {
  font-weight: 600;
}

.shipping-options-label {
  font-weight: normal;
  display: inline;
  margin-right: lines(0.5);
}

.delivery-row-low {
  position: relative;
  padding-top: em(9);
  padding-bottom: em(9);
}

.delivery-row-tall {
  position: relative;
}

.delivery-checkbox {
  position: absolute;
  top: em(9);
}

.delivery-left-field {
  padding-left: lines(1);
}

.shipping-price-container {
  display: table;
  width: 100%;
  margin-bottom: 0.75em;
}

.delivery-row {
  display: table-row;
}

.delivery-label-cont {
  display: table-cell;
  vertical-align: middle;
}

.delivery-input-cont {
  display: table-cell;
  width: em(155);
}

input[type=text].delivery-price-field {
  float: right;
  width: em(100);
}

.delivery-currency {
  float: right;
  line-height: 42px; /*input height is 42px*/
}

/*
  -----------
  Inbox
  -----------
*/

.conversation-status {

  .status-links {
    display: inline-block;
  }

  .inbox-horizontally-aligned-status {
    display: inline-block;
    vertical-align: top;
    padding-top: 25px;
  }

  .inbox-horizontally-aligned-link {
    display: inline-block;
  }

  .status-link {
    @include button($link);
    margin-right: lines(0.5);
  }

  .accept, .confirm, .accept_preauthorized {
    color: $green;
    background: lighten($green, 40%);
    border-color: $green;
    &:hover {
      color: lighten($green, 10%);
      background: lighten($green, 50%);
      border-color: lighten($green, 10%);
    }
  }

  .reject, .cancel, .reject_preauthorized {
    color: $red;
    background: lighten($red, 40%);
    border-color: $red;
    &:hover {
      color: lighten($red, 10%);
      background: lighten($red, 50%);
      border-color: lighten($red, 10%);
    }
  }

}

/*
  ------------------------
  Transaction confirmation
  ------------------------
*/

.conversation-status-form {

  .conversation-action-description {
    padding: lines(0.25) 0;
  }

  .conversation-totals {
    background-color: $highlight;
    padding: lines(0.5);
    margin-bottom: lines(0.5);
  }
  .conversation-per-unit-wrapper,
  .conversation-booking-wrapper,
  .conversation-quantity-wrapper,
  .conversation-sum-wrapper,
  .conversation-service-fee-wrapper,
  .conversation-total-wrapper,
  .conversation-shipping-price-wrapper {
    @include clearfix;
  }
  .conversation-per-unit-label,
  .conversation-booking-label,
  .conversation-quantity-label,
  .conversation-sum-label,
  .conversation-service-fee-label,
  .conversation-total-label,
  .conversation-shipping-price-label {
    float: left;
  }

  .conversation-per-unit-value,
  .conversation-booking-value,
  .conversation-quantity-value,
  .conversation-sum-value,
  .conversation-service-fee-value,
  .conversation-total-value,
  .conversation-shipping-price-value {
    float: right;
    margin-right: lines(0.25);
  }
  .conversation-total-paypal-value {
    float: right;
  }
  .conversation-total-wrapper {
    font-weight: bold;
  }
}

/*
  ------------------------
  Initiate Transaction
  ------------------------
*/

.initiate-transaction-totals {
    background-color: $highlight;
    padding: lines(0.5);
    margin-bottom: lines(0.5);
}

.accept_status{
  background: #00a26c !important;
}

.button_to{
   padding-bottom: 0em !important;
}

.stripe_pay_btn{
    background: #00a26c none repeat scroll 0 0 !important;
    border: 0 none;
    border-radius: 5px;
    color: white;
    height: 40px;
    margin-top: 14px;
    width: 90px;
    padding-bottom: 0;
}

.submit_card_detail{
  display: inline-block;
}
.card_small_loader{
  display: none;
}
.stripe_loader{
  display: none;
}
.left-navi-link-text{
    color: #cf4760!important;
  }

.setting-header{
  color: #ffffff!important;
}
.profile_page{
  color: #cf4760!important;
}
.profile_page:hover{
  color: #cf4760!important;
}

.submit_form{
  background: #cf4760;
}

.submit_form:hover{
  background: #cf4760;
}

.inbox_list{
  color: #cf4760;
}

.inbox_list:hover{
  color: #cf4760;
}

.inbox_head{
  color: #3399ff;
}

.new_transaction_head{
  color: #3399ff;
  a {
    color: #3399ff;
  }
}

.new_transaction_head:hover{
  color: #3399ff;
  a {
    color: #3399ff;
  }
}


.new_transaction{
  background: #3399ff;
}

.new_transaction:hover{
  background: #3399ff;
}
.request-payment-1{
  vertical-align: middle;
}
.request-payment-2{
  width: 45%;
}
.payment-img{
  height: 60px;
  vertical-align: middle;
}

.payment-text{
  display: inline-block;
  vertical-align: middle;
  color: #3399ff;
}
.transaction-accept, .transaction-decline{
  display: inline-block;
  float: none;
}

.payment-status {
  border-bottom: 1px solid #c3c3c3;
  border-top: 1px solid #c3c3c3;
  padding: 10px;
}

#helper_dot li::before {
  content: ".";
  display: block;
  font-size: 80px;
  margin-left: -25px;
}
#helper_dot li {
  list-style: outside none none;
  margin-left: 20px;
}
#grid_list{
  background-color: #333333;
  color: white;
}
.mobile-img {
  width: 100%;
  margin: -16% 35%;
}

#verification{
  text-align: center;
  margin-top: 20px;
}

#proof{
  display: flex;
}

#verified{
  margin-top: -20px;
}

#verified-card{
  margin-left: 20px;
}

#stripe-logo{
  display: inline-block;
}

.stripe-img{
  margin-left: 10px;
}

.initiate-transaction-per-unit-wrapper,
.initiate-transaction-booking-wrapper,
.initiate-transaction-quantity-wrapper,
.initiate-transaction-sum-wrapper,
.initiate-transaction-shipping-price-wrapper,
.initiate-transaction-total-wrapper {
    @include clearfix;
}

.initiate-transaction-per-unit-label,
.initiate-transaction-booking-label,
.initiate-transaction-quantity-label,
.initiate-transaction-sum-label,
.initiate-transaction-shipping-price-label,
.initiate-transaction-total-label {
    float: left;
}

.initiate-transaction-per-unit-value,
.initiate-transaction-booking-value,
.initiate-transaction-quantity-value,
.initiate-transaction-sum-value,
.initiate-transaction-shipping-price-value,
.initiate-transaction-total-value {
    float: right;
    margin-right: lines(0.25);
}

.initiate-transaction-total-wrapper {
    font-weight: bold;
}

/*
  ------------------------
  Shipping address
  ------------------------
*/

.shipping-address-container {
    background-color: $highlight;
    padding: lines(0.5);
    margin-bottom: lines(0.5);
    margin-top: lines(0.5);
}

.shipping-address-name {
    font-weight: bold;
}

/*
  ----------------
  About
  ----------------
*/

.about-section {
  h3 {
    padding-top: lines(0.25);
    padding-bottom: lines(0.25);
  }
}

/*
  -----------------------------------------------
  New testimonial form, conversation status form
  -----------------------------------------------
*/

.testimonial-form, .conversation-status-form, .payment-form {

  a.grade, a.conversation-action {
    color: $body;
    cursor: pointer;
    position: relative;
    display: block;
    width: 100%;
    @include border-radius(em(5));
    border: 2px solid $border;
    &:hover { background: $highlight; }
    margin-bottom: lines(0.25);
    .link-icon {
      position: absolute;
      top: em(8);
      left: em(12);
    }
    .link-text {
      margin-left: em(40);
      margin-right: lines(1.5);
      padding: em(6) 0 em(10) 0;
    }
  }

  a.hidden, div.hidden {
    display: none;
  }

  a.positive, a.accept, a.confirm {
    color: $green;
    background: lighten($green, 40%);
    &:hover { background: lighten($green, 40%); }
  }

  a.negative, a.reject, a.cancel {
    color: $red;
    background: lighten($red, 40%);
    &:hover { background: lighten($red, 40%); }
  }

  span.currency-symbol {
    display: none;
  }

  .payment-row-headings {
    display: none;
  }

  .payment-row {
    padding: lines(0.125) lines(0.5) lines(0.5) lines(0.5);
  }

  .grey {
    background: $highlight;
    @include border-radius(em(5));
  }

  .conversation-price {
    margin-top: lines(0.75);
    margin-bottom: lines(0.25);
  }

  @include media(tablet) {

    .payment-row-headings {
      display: block;
      margin-bottom: lines(0.375);
      padding-bottom: lines(0.25);
    }

    .bottom-border {
      border-bottom: 1px solid $body;
    }

    .payment-row {
      margin-bottom: lines(0.5);
      padding: lines(0.5) lines(0.5) lines(0.5) lines(0.5);
    }

    .payment-row-heading {
      display: inline-block;
      font-weight: bold;
    }

    .payment-row-title-heading {
      width: lines(10);
      margin-left: lines(0.5);
    }

    .payment-row-sum-heading {
      width: lines(4);
      margin-left: lines(0.5);
    }

    .payment-row-vat-heading {
      width: lines(2);
      margin-left: lines(0.5) + em(12);
    }

    .payment-row-total-heading {
      text-align: center;
      width: lines(4.5);
      margin-left: lines(0.5) + em(15);
    }

    .payment-row-label {
      display: none;
    }

    .payment-row-field {
      display: inline-block;
    }

    .payment-row-title-field {
      width: lines(10);
    }

    .payment-row-sum-field {
      width: lines(4);
      margin-left: lines(0.5);
    }

    span.currency-symbol {
      display: inline;
    }

    .payment-row-vat-field {
      width: lines(2);
      margin-left: lines(0.5);
    }

    .total-label {
      display: inline-block;
      text-align: center;
      width: lines(4);
      margin-left: lines(0.5);
    }

    .payment-row-title-text {
      width: lines(10);
      margin-left: lines(0.5);
    }

    .payment-row-sum-text {
      width: lines(4);
      margin-left: lines(0.5);
    }

    .payment-row-vat-text {
      width: lines(2);
      margin-left: lines(0.5) + em(12);
    }

    .payment-row-total-text {
      text-align: center;
      width: lines(4);
      margin-left: lines(0.5);
    }

    .payment-text-row {
      padding: lines(0) lines(0.5) lines(0.5) lines(0.5);
    }

    .payment-row-text {
      display: inline-block;
    }

    .payment-sum-row {
      font-weight: bold;
    }

  }
}

/*
  ----------------------------------
  New email to all community members
  ----------------------------------
*/

.new-member-email-form {
  .permanent-notification {
    margin-bottom: 0;
  }
}

/*
  ----------------------------------
  Payments
  ----------------------------------
*/

.payment-form {

  small {
    margin-top: lines(0.5);
  }

  .payment-form-label {
    font-weight: bold;
    display: inline-block;
    width: lines(6);
  }

  .send-button {
    padding-top: lines(0.25);
  }

}

.paypal-loading {
  width: 360px;
  height: 150px;
  position: absolute;
  top: 30%;
  left: 50%;
  margin: -50px -170px;
  text-align: center;
}
.paypal-loading-title {
  font-size: 150%;
  margin-bottom: 0;
  width: 100%;
  text-align: center;
}
.paypal-loading-desc {
  width: 100%;
  text-align: center;
}
.paypal-loading-spinner {
  display: inline-block;
  margin-top: 12px;
}

/*
  --------------------------
  Common stuff (new layout)
  --------------------------
*/

/* Colors */
$light_grey: #fdfbfb;
$network-green: #00a26c;

@mixin action-button($color) {
  @include border-radius(em(5));
  @include normal-type;

  color: $background;
  background: $color;
  border: 3px solid darken($color, 15%);
  text-align: center;
  cursor: pointer;
  width: 100%;
  vertical-align: top;
  padding: em(8) em(13) em(11) em(13);

  &:hover {
    background: darken($color, 5%);
    color: $background;
    border-color: darken($color, 20%);
  };

  @include media(tablet) {
    @include big-type;
    padding: em(11) em(16) em(14) em(16);
    width: auto;
  }
}

/* Calculate fluid ratio based on two dimensions (width/height) */
@mixin fluid-ratio($large-size, $small-size) {
  $width-large: nth($large-size, 1);
  $width-small: nth($small-size, 1);
  $height-large: nth($large-size, 2);
  $height-small: nth($small-size, 2);
  $slope: ($height-large - $height-small) / ($width-large - $width-small);
  $height: $height-small - $width-small * $slope;

  padding-top: $slope * 100%;
  height: $height;

  background-size: cover;
  -moz-background-size: cover;  /* Firefox 3.6 */
  background-position: center;  /* Internet Explorer 7/8 */
}

/* User both for marketplace and network landers */

.coverimage {
  position: relative;
  max-width: em(1920);
  margin-left: auto;
  margin-right: auto;
}

figure.fluidratio {
  position: relative;
  display: block;
  height: lines(4.3);
  background-size: cover;
  -moz-background-size: cover;  /* Firefox 3.6 */
  background-position: center;  /* Internet Explorer 7/8 */
  background-position: center center;
}

.lander-content {
  position: absolute;
  left: lines(0.5);
  right: lines(0.5);
  text-align: center;

  @include media(tablet) {
    left: 0;
    right: 0;
  }
}

.mobile {
  display: block;
  @include media(tablet) {
    display: none;
  }
}

.desktop {
  display: none;
  @include media(tablet) {
    display: block;
  }
}

/*
  Lander
*/

.lander-content-container,
.network-header-content-container {
  position: relative;
}

.marketplace-lander {
  position: relative;

  figure.marketplace-cover {

    height: em($cover-photo-mobile-height);
    @include media(tablet) {
      @include fluid-ratio(em(1920) em($cover-photo-height), em(300) em($cover-photo-height));
    }
  }

  figure.marketplace-cover-small {
    height: em($small-cover-photo-mobile-height);
    @include media(tablet) {
      @include fluid-ratio(em(1920) em($small-cover-photo-height), em(300) em($small-cover-photo-height));
    }
  }

  .coverimage-fade {
    position: absolute;
    top: lines(0);
    max-width: em(1920);
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    background: rgba($highlight, 0.9);

    &.without-text {
      background: rgba($highlight, 0.625);
    }
  }

  figure.marketplace-cover-small-fade {
    height: em($small-cover-photo-mobile-height, 16);
    @include media(tablet) {
      @include fluid-ratio(em(1920) em($small-cover-photo-height), em($small-cover-photo-height) em($small-cover-photo-height));
    }
  }

  .marketplace-lander-content {
    top: lines($lander-content-top-mobile);
  }

  .marketplace-lander-content-title {
    margin-bottom: 0;
    margin-top: 0;
    position: relative;
    padding: 0;
    color: $background;
    @include larger-type;
    line-height: em(18);
    @include media(tablet) {
      padding: 0 lines(1);
      @include huge-type;
      line-height: em(15);
    }
  }

  .title-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  .title-header-wrapper {
    @include wrapper;
    max-width: lines(42);
    background: transparent;
    width: 100%;
    height: 100%;
    margin: -5% auto;
  }

  .title-header-wrapper {
    h1{
      color: #ffffff !important;
    }
  }

  .marketplace-title-header {
    width: 100%;
    height: 100%;
    padding: 0;

    display: table;

    h1 {
      color: $light-body;
      @include normal-type;
      font-weight: bold;
      line-height: lines(0.8);

      display: table-cell;
      vertical-align: middle;
      text-align: center;

      @include media(large-mobile) {
        @include big-type;
      }

      @include media(tablet) {
        text-align: left;
        @include large-type;
      }
    }
  }

  p {
    margin-top: lines(0.5);
    color: $background;
    @include normal-type;
    font-weight: 500;
    @include text-shadow(2px, 2px, 3px, rgba(black, 0.5));
    @include media(tablet) {
      margin-top: lines(1);
    }
  }

  input[type=text] {
    @include normal-type;
    padding: 0;
    border: 0;
    margin: 0;
    vertical-align: top;
    padding: em(11) em(11) em(11) em(11);
    width: 100%;
  }

  button.action-button {
    @include cover-photo-button($link);
    border: 0;
    @include media(tablet) {
      margin: 0 0 0 lines(0.5);
    }
  }

  .search-form {
    margin-top: lines(1);
    @include media(tablet) {
      margin-top: lines(2.5);
    }
  }

  .search-form-input {
    vertical-align: top;
    display: inline;
  }

  .browse-view-search-form {
    width: 100%;
    padding-top: lines(0.5);

    input[type=text] {
      @include normal-type;
      vertical-align: top;
      margin-right: em(-4);
      padding: 0 em(15);
      width: 73%;
      display: inline;
      line-height: 40px;
      height: 42px;
    }

    button.action-button {
      display: inline;
      vertical-align: top;
      padding: em(8);
      margin: 0 0 0 3%;
      width: 24%;
      margin-right: em(-4);
      border-width: 0;
      padding: 3px 0 0 0;
      line-height: 38px;
      height: 42px;
    }

    @include media(tablet) {
      padding: lines(1) 0;
    }
  }

  @include media(tablet) {

    .marketplace-lander-content {
      top: lines($lander-content-top);
    }

    .marketplace-lander-content-title {
      margin-bottom: 0;
      margin-top: 0;
      @include huge-type;
      line-height: em(13);
    }

    p {
      @include large-type;
      margin: lines(0.5) auto;
      max-width: lines(15);
    }

    input[type=text] {
      @include big-type;
      padding: em(11) em(14) em(11) em(14);
      width: lines(15);
    }

    button.action-button {
      width: lines(4);
      padding: em(14) em(16) em(11) em(16);
      @include big-type;
    }

    .search-form-text-field {
      width: lines(10);
    }

    .browse-view-search-form {
      $search-bar-height: 48px;

      input[type=text] {
        @include normal-type;
        width: 77%;
        line-height: $search-bar-height;
        height: $search-bar-height;
      }

      button.action-button {
        margin-left: 1%;
        width: 22%;
        line-height: $search-bar-height - 2px; // -2 for finetuning vertical centering
        height: $search-bar-height;
      }

    }

  }

  @include media(desktop) {
    .marketplace-lander-content-title {
      margin-bottom: 0;
      margin-top: 0;
      @include mega-type;
      line-height: em(15);
    }
  }
}

body { margin: 0; padding: 0; font-family:'Source Sans Pro', helvetica, sans-serif; }
* { margin: 0; padding: 0; }
p, h1, h2, h3, h4, h5, h6 { margin: 0; padding: 0; }
ul { margin: 0; padding: 0; }
li { list-style: none; }
a { text-decoration: none; }
a:hover, a:focus, a:active { outline: 0; text-decoration: none; }

.hero_section { position: relative; }
.hero_section .inner_banner { position: relative; }
.hero_section .inner_banner img { width: 100%; }
.mask { position: absolute; top: 0; width: 100%; opacity: 0.2%; }
.header1 { background-color: rgba(34,35,37,0.2); position: absolute; top: 0; z-index: 99; width: 100%; padding-top: 5px !important;}
.border_bot {
  bottom: -2px;
  left: 0;
  position: absolute;
  width: 101%;
}
.header1 .col4 {
  float: left;
}

@media (max-width: 768px)
{
.border_bot {
    bottom: 0;
    left: 0;
    position: absolute;
    width: 100%;
}
.header1 .col4 {
  float: left;
  width: 30%;
}
}

.outer { width: 1060px; margin-left: auto; margin-right: auto; }
.col6 { width: 50%; float: left; }
.top_nav li { display: inline-block; vertical-align: middle; }
.top_nav li img { vertical-align: middle; }
.top_nav { float: right; padding: 0; position: relative; }
.top_nav li a { color: #ffffff; display: block; font-family:'Source Sans Pro', helvetica, sans-serif; font-size: 15px; padding: 32px 15px; }
.user_pic > a { padding: 8px 0 8px 10px !important; }
.top_nav > li:first-child a:hover { background: #eee; color: #333; }
.top_nav li:nth-child(4) a:hover { background: #eee; color: #333; }
.logo1 { padding: 30px 0; height:23px; }
.border_bot { width: 100%; }
.slider_content { bottom: 47%; color: #ffffff; position: absolute; text-align: center; width: 100%; }
.slider_content .firstp { font-size: 30px; font-weight: 600; }
.list_button a { background: #2490ff none repeat scroll 0 0; font-size: 13px !important; padding: 8px 25px !important; margin-left: 10px !important; }
.list_button a:hover { background: #1681f0; }
.menu_btn a { background: #e8e8e8 none repeat scroll 0 0; font-size: 13px !important; padding: 8px 15px !important; color: #333 !important; }
.menu_btn a:hover { background: #d5d5d5; }
.secondp { font-size: 22px; font-weight: 600; line-height: 1; }
.search_list { margin-left: -23px; }
.form_search_gear { bottom: 20px; position: absolute; width: 100%; z-index: 999; }
.search_list > li { display: inline-block; }
.red_butn { color: #ffffff !important; }
.red_butn > button {     background: #fc2965 none repeat scroll 0 0;
    border-radius: 100px;
    color: #ffffff;
    font-size: 15px;
    font-weight: 600;
    margin-left: 0;
    padding: 25px 10px;
    vertical-align: middle; height:auto!important; }
.search_gear input { border: 2px solid #000000 !important; border-radius: 5px !important; color: #666666 !important;font-family:'Source Sans Pro', helvetica, sans-serif !important; font-size: 17px !important; font-weight: 700 !important; height: 52px !important; margin-top: 24px !important; padding: 0 0 0 10px !important; width: 90% !important; }
.search_gear { background-color: rgba(34,35,37,0.5); height: 115px; margin-left: auto; margin-right: auto; padding: 0 30px; width: 90%; }
.search_gear .col6 { margin-top: 10px; }
.search_list > li { margin-top: 24px; padding: 0 1px; }
.new {
    float: right;
    margin-top: -90px;
}
.red_butn > a:hover { background: #c1053a; }
.top_nav li.active .english-sub-menu { display: block; }
.english-sub-menu li a { padding: 12px 10px; }
.header-user-avatar{border-radius: 50%!important;}

/*dropdown css*/

.english-sub-menu { position: absolute; background: #333; width: 180px; top: 100%; display: none; z-index: 99999; }
.english-sub-menu1 { position: absolute; background: #333; width: 180px; top: 100%; }
.english-sub-menu2 { position: absolute; background: #333; width: 180px; top: 100%; }
.english-sub-menu li { display: block; }
.english-sub-menu1 li { display: block; }
.english-sub-menu2 li { display: block; }
.english-sub-menu li a:hover { background: #2490ff; color: #fff; }
.english-sub-menu1 li a:hover { background: #2490ff; color: #fff; }
.english-sub-menu2 li a:hover { background: #2490ff !important; color: #fff !important; }
.english-sub-menu a:hover { background: #2490ff none repeat scroll 0 0 !important; color: #fff !important; }
.english-sub-menu1 li a { padding: 18px 10px !important; }
.english-sub-menu2 li a { padding: 18px 10px !important; }
.english-sub-menu1 li a:hover { color: #fff !important; }
/*end dropdown css*/

.added_inner { height: 180px; overflow: hidden; position: relative; }
.new_search_added { position: relative; }
.search_bar_added { padding: 0; position: absolute; top: -70px; width: 100%; }
.second-search { background: #df315f none repeat scroll 0 0; border-radius: 4px; color: #ffffff; float: right; font-size: 16px; padding: 17px 0; text-align: center; width: 17%; }
.search_bar_added input { border: 0 none; border-radius: 4px; float: left; font-size: 16px; font-weight: 600; height: 50px; width:79%; padding: 0px 12px; }
.english-sub-menu2 li a:hover { color: #ffffff !important; }
.menu_btn ul li a { padding: 18px 10px; }
.menu_toggle li a { padding: 12px 10px !important; }
.col4 { float: left; width: 40%; }
.col8 { float: left; width: 60%; }
.menu2 { font-style: italic; padding: 32px 10px !important; }
.menu_btn { padding: 0 20px; }
.search_bar_added button{ height: 50px; margin-top: 0; padding: 10px;}
/*.top_anchor a {
  background-color: rgba(34, 35, 37, 0.2);
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 99;
}*/
/*Responsive code*/

@media (max-width:1400px) {
}
 @media (max-width:1380px) {
.search_list > li { margin-top: 24px; padding: 0; }
  .menu_toggle li a {
  padding: 7px 10px !important;
}
.english-sub-menu li a {
  padding: 7px 10px !important;
}

}
 @media (max-width:1330px) {
.search_gear input { width: 90% !important; }
.search_list { margin-left: 0; }
}
@media (max-width:1240px) {
  .red_butn > a { padding: 30px 10px; }
  .search_gear input { width: 85% !important; }
  .search_list {
    margin-left: -25px;
  }
  .form_search_gear { bottom: 0; position: static; width: 100%; z-index: 999; }
  .search_gear { background-color: #252525; height: 120px; margin-left: auto; margin-right: auto; margin-top: 30px; padding: 0 30px; width: 80%; }
  .red_butn > button {margin-right: -15px}

}
@media (max-width:1200px) {
}
@media (max-width:1189px) {
  .menu_btn a { font-size: 14px; }
  .list_button a { font-size: 13px; }
  .list_button a { padding: 8px 10px !important; }
}
@media (max-width:1080px) {
  .outer{width:95%;}
  .search_list {margin-left: -35px;}
  .top_nav li a {
    color: #ffffff;
    display: block;
    font-family:'Source Sans Pro', helvetica, sans-serif;
    font-size: 16px;
    padding: 32px 12px;
  }
.list_button a
{
  margin-left:0px !important;
}
.menu_btn {
  padding: 0 15px 0 10px;
}
}

@media (max-width:1052px)
{
  .search_gear input {
  width: 75% !important;
}
.search_list {
  margin-left: -60px;
}
}

 @media (max-width:989px) {
.form_search_gear { bottom: 0; position: static; width: 100%; z-index: 9; }
.search_gear .col6 { clear: both; display: block; margin-left: auto; margin-right: auto; margin-top: 0px; text-align: center; width: 100%; }
.search_gear { background-color: #252525; height: 185px; margin-left: auto; margin-right: auto; padding: 0 30px; width: 100%; margin-top: 30px; }
.new {
    float: right;
    margin-top: -90px;
}
.col6 { text-align: center; width: 100%; }
.top_nav { float: right; padding: 0; }
.secondp { font-size: 18px; font-weight: 600; line-height: 1; }
.slider_content .firstp { font-size: 20px; font-weight: 600; }
.slider_content { bottom: 55%; }
.logo1 { padding: 15px 0; }
.top_nav li a { padding: 0 10px; }
.col4 {
  float: left;
  width: 30%;
}
.col8 {
  float: left;
  width: 70%;
}
.red_butn > button{
   background: #fc2965 none repeat scroll 0 0;
    border-radius: 100px;
    color: #ffffff;
    font-size: 16px;
    font-weight: 600;
    height: auto !important;
    margin-bottom: 11%;
    margin-left: 31%;
    margin-top: -12%;
    padding: 30px 14px;
    vertical-align: middle;
}
.search-form-input.search-form-text-field > input{
  margin:0 auto;
  width:96%;
}
}
@media (max-width:930px) {
.top_nav li a { padding: 0 8px; }
.top_nav li a { padding: 0 5px; font-size: 14px; }
.menu_btn a { background: #e8e8e8 none repeat scroll 0 0; color: #333333 !important; font-size: 12px !important; padding: 8px !important; }
.list_button a { font-size: 12px !important; padding: 8px 5px !important; }
.user_pic > a { padding: 8px 5px !important; }
.menu_btn
{
  padding: 0 !important;
}
.list_button a {
  font-size: 12px !important;
  padding: 8px 4px !important;
}
.list_button a
{
  margin-left:0px !important;
}
.search_bar_added input {
  width: 78% !important;
}
}
 @media (max-width:767px) {
.header1 { display: none; }
.header1.added_header { display: block !important; background: #222325; }
.new {
    float: right;
    margin-top: -90px;
}
.mask{top:58px;}
.hero_section .inner_banner{padding-top:60px;}
.search_gear input { width: 100% !important; }
.col4 { float: left; text-align: center; width: 20% !important; }
.col8 { float: right; text-align: right; width: 80% !important; }
.top_nav { float: none; padding: 0; }
.header-wrapper {
  background: #fff;
  float: right;
  margin: 0 auto;
  padding-left: 0;
  padding-right: 0;
}
.header-wide-logo{display:none;}
.visible-tablet, .visible-tablet-inline, .visible-desktop-inline{display:block important;}
.header-right {
  float: right;
}
.test {
  height: 50px!important;
  margin-bottom: 15px;
  width: 50px!important;
}
.new-listing-link{display:none;}
.search_gear {
    height: 100%;
    overflow: hidden;
    width: 100%;
}
.new {
  float: right;
  margin-top: -90px;
}
.slider_content {
  bottom: 50%;
}
.search_gear{
  height: auto;
}
.search_bar_added {
  padding: 0;
  position: static;
  top: -70px;
  width: 100%;
}
.red_butn > button {
    margin-left: 35%;
    margin-top: -9%;
}
.search_bar_added input {
  border: 1px solid #cccccc;
  width: 75% !important;
}
.new_search_added
{
  margin-top:15px;
}
.slider_content {
  top: 20%;
}
.red_butn > button{
  margin-top:15%;
}
}
 @media (max-width:580px) {
.slider_content .firstp { font-size: 18px; }
.secondp { font-size: 15px; }
.new { clear: both; margin-bottom: 0; margin-left: 0; margin-right: 0; margin-top: 40px !important; width: 100%; }
.search_list { margin-left: 0; }
.search_gear { height: 280px; }
.red_butn > button{
  margin-top:-9%;
}
}
@media (max-width:480px) {
.top_nav li a { font-size: 12px; padding: 0 5px; }
.menu_btn a { background: #e8e8e8 none repeat scroll 0 0; color: #333333 !important; font-size: 15px !important; padding: 8px 10px !important; }
.list_button a { padding: 8px 5px !important; }
.search_gear { height: auto; }
.search_bar_added input {
  border: 1px solid #cccccc;
  width: 70% !important;
}
.slider_content .firstp {
  font-size: 14px !important;
}
.slider_content {
    top: 13%;
}
.home_play_link{margin-top:5px;}

.new-listing-link{padding-left:0;}
.header-text-link{padding:0 5px 0 0;}
.header-menu-container{padding:10px 0;}
.header-user-toggle{padding-left:2px;}

}
 @media (max-width:360px) {
.list_button a { padding: 8px !important; }
.menu_btn a { padding: 8px !important; }
.top_nav li a { padding: 0px 12px; }
.menu_btn { margin-bottom: 10px; margin-top: 10px; }
.slider_content .firstp { font-size: 14px; }
.secondp { font-size: 13px; }
.hero_section.test > form {
    display: none;
}
.search_gear { height: 360px; }
}
.search-form-input.search-form-text-field > input {
  width: 82% !important;
  margin: 0 auto;
}

.flash-error-global-msg {
  background: #fc2965 none repeat scroll 0 0;
  border-radius: 7px;
  color: white;
  margin: 0 auto;
  padding: 0 10px;
  width: 50%;
  text-align: center;
}
.signup_about_link{margin: 10px 0 0 20px}
.col4 .header-left {
    float: left !important;
}
