
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,600italic,700italic,700,300italic,300);


h2, h3, h4,h5{ font-family: 'Open Sans', sans-serif !important;}

#slider{
    background: #AF6F00;
    background: linear-gradient(to right, #79BF00, #AF6F00, #E52000);
}
* {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
.clear {clear: both;} 

.flex {
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}

.heading{ color : #999999;}

.mt-20 {margin-top: 20px;}
.ml-20 {margin-left: 20px;}
.mr-20 {margin-right: 20px;}
.mb-20 {margin-bottom: 20px;}

.mt-30 {margin-top: 30px;}
.ml-30 {margin-left: 30px;}
.mr-30 {margin-right: 30px;}
.mb-30 {margin-bottom: 30px;}

.mt-60 {margin-top: 60px;}
.mb-60 {margin-bottom: 60px;}

h2, h3, h4, h5 {
	margin: 0;
}

h2 {
	font-size: 37px;
	color: #3e3e3e;
	font-weight: 400;
}

h3 {
	color: #3e3e3e;
	font-weight: 300;
	font-size: 37px;
}

h4 {
	text-transform: uppercase;
	color: #cf4760;
	font-size: 19px;
	font-weight: 400;
	position: relative;
	display: inline-block;
	line-height: 1.1;
}

h5 {
	color: #828282;
	font-size: 19px;
	font-weight: 300;
}

header {
	margin: 20px auto;
	max-width: 1300px;
	width: 100%;
	text-align: center;
}

.header_block {
	width: 33.3%;
	padding: 0 30px;
}

.header_block_inn {
	border: 1px solid #c0392b;
	padding: 10px;
	text-align: center;
	display: -webkit-inline-flex;
	display: -ms-inline-flex;
	display: inline-flex;
}

.header_block_inn img {
	width: 100%;
	height: 100%;
	max-width: 322px;
	display: block;
}

.titles-btn {
	padding: 60px 0;
}

.btn {
	border-radius: 4px;
	color: #fff;
	font-size: 16px;
	text-transform: uppercase;
	height: 50px;
	display: inline-block;
	font-weight: 500;
	cursor: pointer;
	text-decoration: none;
	line-height: 1.3;
	padding: 16px 35px;
	-webkit-transition: All .2s ease;
	-moz-transition: All .2s ease;
	transition: All .2s ease;
	border-style: solid;
	border-width: 1px;
	margin-bottom: 40px;
}

.btn.blue {
	background: #2490ff;
	border-color: #2490ff;
}
.btn.blue:hover {
	background: #ffffff;
	color: #2490ff;
}
.btn.blue:active {
	background: #0f7ae8;
	border-color: #0f7ae8;
	color: #ffffff;
}

.btn.pink {
	background: #cf4760;
	border-color: #cf4760;
	font-size: 13px;
}
.btn.pink:hover {
	color: #cf4760;
	background: #ffffff;
}
.btn.pink:active {
	background: #ba4057;
	border-color: #ba4057;
	color: #ffffff;
}

.btn.red {
	background: #c0392b;
	border-color: #c0392b;
	font-size: 13px;
}
.btn.red:hover {
	color: #c0392b;
	background: #ffffff;
}
.btn.red:active {
	background: #ab3428;
	border-color: #ab3428;
	color: #ffffff;
}

section {
	text-align: center;
}

section h3,
section h5 {
	margin-top: 10px;
}

section h4 {
	padding: 20px 0;
	padding-right: 60px;
}

.icon_search {
	width: 41px;
	height: 41px;
	background: url(/assets/homepage/lupa.png) no-repeat top left;
	right: 0;
}

.icon_stars {
	width: 162px;
	height: 32px;
	background: url(/assets/homepage/stars.png) no-repeat top left;
	right: -116px;
}

.icon_mail {
	width: 46px;
	height: 32px;
	background: url(/assets/homepage/mail.png) no-repeat top left;
	background-size: 100% auto;
	right: 0px;
}

.icon_messege {
	width: 44px;
	height: 44px;
	background: url(/assets/homepage/messege.png) no-repeat top left;
	background-size: 100% auto;
	right: 0px;
}
.icon_calendar {
	width: 33px;
	height: 33px;
	background: url(/assets/homepage/calendar.png) no-repeat top left;
	background-size: 100% auto;
	right: 0px;
}
.icon_globe {
	width: 40px;
	height: 40px;
	background: url(/assets/homepage/globe.png) no-repeat top left;
	background-size: 100% auto;
	right: 0px;
}
.icon_key {
	width: 38px;
	height: 38px;
	background: url(/assets/homepage/key.png) no-repeat top left;
	background-size: 100% auto;
	right: 0px;
}
.icon_people {
	width: 44px;
	height: 44px;
	background: url(/assets/homepage/people.png) no-repeat top left;
	background-size: 100% auto;
	right: 0px;
}
.icon_camera {
	width: 60px;
	height: 46px;
	background: url(/assets/homepage/camera.png) no-repeat top left;
	background-size: 100% auto;
	right: -15px;
}

.icon_insurance {
	width: 38px;
	height: 44px;
	background: url(/assets/homepage/insure.png) no-repeat top left;
	background-size: 100% auto;
	right: 0px;
}
.icon_card  {
	width: 44px;
	height: 44px;
	background: url(/assets/homepage/card.png) no-repeat top left;
	background-size: 100% auto;
	right: 0px;
}

.icon_search,
.icon_stars,
.icon_mail,
.icon_messege,
.icon_calendar,
.icon_globe,
.icon_key,
.icon_people,
.icon_camera,
.icon_insurance,
.icon_card  {
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	background-size: 100%;
}

section h4:after {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	height: 2px;
	width: 40px;
	background: -webkit-linear-gradient(left, #c8f3fb, #f9d4ee);
	background: -o-linear-gradient(left, #c8f3fb, #f9d4ee);
	background: -moz-linear-gradient(left, #c8f3fb, #f9d4ee);
	background: linear-gradient(left, #c8f3fb, #f9d4ee);
}

.grey_bg {background: #fafafa;}

.sec_block {
	width: 50%;
	height: 460px;
	overflow: hidden;
	position: relative;
}

.sec_block img {
	display: block;
	position: absolute;
	top: 50%;
    left: 50%;
    max-height: 100%;
    height: auto;
    -ms-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-size: cover;
}

.sec_block_text {
	color: #788187;
	font-size: 16px;
	width: 60%;
	line-height: 1.7;
	text-align: left;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	font-family: 'Open Sans', sans-serif !important;
}

.inform {margin-top: 30px;padding: 55px 0 110px 0;}

.block_info {
	color: #1a1a1a;
	font-size: 15px;
	padding: 60px 50px 0 50px;
	line-height: 1.7;
	margin-bottom: 10px;
	width: 33%;
}

.block_info .btn {
	max-width: 230px;
	width: 100%;
	padding-left: 5px;
	padding-right: 5px;
}

/*  slider  */

.swiper-container {
    //height: 300px;
}

.home-page-map.swiper-pagination {
	text-align: left;
}

.swiper-pagination-bullet {
	width: 10px;
	height: 10px;
	border: 1px solid #3399ff;
	background: #fff;
	opacity: 1;
}

.swiper-pagination-bullet.swiper-pagination-bullet-active {
	background: #3399ff;
}
.swiper-container-horizontal>.swiper-pagination-bullets {
	bottom: 20px;
	width: auto;
}

.swiper-container-horizontal>.swiper-pagination-bullets.left {
	left: 10%;
}

.swiper-container-horizontal>.swiper-pagination-bullets.right {
	right: 10%;
	left: inherit;
}

.swiper-slide {
	width: 100%;
	overflow: hidden;
}

.sec_block .small_image {display: none;}

.video {
	position: absolute;
	bottom: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    background-size: cover;
}

.video.youtube {
	width: 150%;
	height: 140%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}

@media only screen and (max-width: 1600px) {
	.sec_block {
		height: 350px;
	}
}

@media only screen and (max-width: 1200px) {
	.block_info {
		padding: 60px 20px 0 20px;
	}
	.sec_block {
		height: 300px;
	}
}

@media only screen and (max-width: 1024px) {
	.sec_block {
		height: 250px;
	}
	.sec_block_text {
		font-size: 14px;
		line-height: 1.5;
		width: 75%;
	}
	section h4 {
		font-size: 17px;
	    padding: 15px 0;
	    padding-right: 45px;
	}
	.icon_search {
	    width: 31px;
	    height: 31px;
	}
	.icon_stars {
		width: 110px;
	    height: 22px;
	    right: -75px;
	}
	.icon_calendar {
	    width: 23px;
	    height: 23px;
	}
	.icon_mail {
	    width: 33px;
	    height: 23px;
	}
	.icon_key {
    	width: 28px;
    	height: 30px;
	}
	.icon_globe {
    	width: 30px;
    	height: 30px;
	}
	.icon_messege {
    	width: 34px;
    	height: 34px;
	}
	.icon_insurance {
    	width: 28px;
    	height: 32px;
	}
	.icon_card {
    	width: 34px;
    	height: 34px;
	}
	.icon_people {
    	width: 34px;
    	height: 34px;
	}
	.icon_camera {
    	width: 45px;
    	height: 28px;
	}
	.inform {
    	padding: 30px 0 35px 0;
	}
}

@media only screen and (max-width: 900px) {
	header {
		padding: 0 20px;
	}
	h2, h3 {
		font-size: 30px;
	}
	h4 {
		font-size: 16px;
	}
	h5 {
		font-size: 17px;
	}
	section h4 {
		padding: 10px 0;
		padding-right: 40px;
	}
	.btn {
		padding: 13px 25px;
		height: auto;
	}
	.sec_block {
		height: 250px;
	}
	.titles-btn {
		padding: 40px 0;
	}
	.icon_search {
		width: 30px;
		height: 30px;
	}
	.sec_block_text {
		font-size: 13px;
	}
	.header_block {
	    padding: 0 15px;
	}
	.block_info {
		width: 50%;
		padding: 40px 40px 0 40px;
	}
}

@media only screen and (max-width: 740px) {
	section h4 {
		font-size: 14px;
		padding-right: 35px;
	}
	.icon_search {
	    width: 23px;
    	height: 23px;
	}
	.icon_stars {
		width: 80px;
    	height: 17px;
    	right: -60px;
	}
	.icon_calendar {
	    width: 20px;
	    height: 20px;
	}
	.icon_mail {
	    width: 25px;
    	height: 18px;
	}
	.icon_key {
    	width: 23px;
    	height: 24px;
	}
	.icon_globe {
    	width: 22px;
    	height: 22px;
	}
	.icon_messege {
    	width: 25px;
    	height: 25px;
	}
	.icon_insurance {
    	width: 20px;
    	height: 24px;
	}
	.icon_card {
    	width: 26px;
    	height: 26px;
	}
	.icon_people {
    	width: 24px;
    	height: 24px;
	}
	.icon_camera {
    	width: 37px;
    	height: 22px;
	}
}

@media only screen and (max-width: 670px) {
	.header_block {
	    padding: 0 10px;
	}
	section .flex {

	}
	.sec_block {
		width: 100%;
	}
	.reverse-column {
		-webkit-flex-direction: column-reverse;
		-ms-flex-direction: column-reverse;
		flex-direction: column-reverse;
	}
	.swiper-container {
	    //height: 200px;
	}
	.sec_block.image {
		height: 350px;
	}
	.sec_block .big_image {
		display: none;
	}
	.sec_block .small_image {
		display: block;
	}
	
}

@media only screen and (max-width: 530px) {
	h2.mb-30.mt-30 {
		margin-top: 15px;
		margin-bottom: 10px;
	}
	.block_info {
		width: 100%;
		padding: 20px 20px 0 20px;
	}
	.header_block {
		width: 100%;
		padding: 10px;
	}
	.titles-btn {
    	padding: 30px 0;
	}
	.inform {
    	padding: 30px 0 30px 0;
	}
	.sec_block.image {
		height: 250px;
	}
}

@media only screen and (max-width: 400px) {
	.sec_block_text {
		width: 80%;
	}
	.sec_block.image {
		height: 200px;
	}
}

@media only screen and (max-width: 320px) {
	h2, h3 {
    	font-size: 22px;
	}
	section h4 {
    	font-size: 13px;
    	margin-top: 20px;
	}
	h5 {
    	font-size: 15px;
	}
	section h3, section h5 {
    	margin-top: 5px;
	}
	.sec_block {
    	height: 250px;
	}
	.btn.pink,
	.btn.red {
		font-size: 11px;
	}
	.block_info {
		font-size: 12px;
		margin-bottom: 0;
	}
	.sec_block_text {
		line-height: 1.3;
		top: 45%;
	}
	.sec_block.image {
		height: 160px;
	}
}
/* Responsive CSS*/

body { margin: 0; padding: 0; font-family:'Source Sans Pro', helvetica, sans-serif; }
* { margin: 0; padding: 0; }
p, h1, h2, h3, h4, h5, h6 { margin: 0; padding: 0; }
ul { margin: 0; padding: 0; }
li { list-style: none; }
a { text-decoration: none; }
a:hover, a:focus, a:active { outline: 0; text-decoration: none; }

.hero_section { position: relative; }
.hero_section .inner_banner { position: relative; }
.hero_section .inner_banner img { width: 100%; }
.mask { position: absolute; top: 0; width: 100%; opacity: 0.2%; }
.header1 { background-color: rgba(34,35,37,0.2); position: absolute; top: 0; z-index: 99; width: 100%; padding-top: 5px !important;}
.border_bot {
  bottom: -2px;
  left: 0;
  position: absolute;
  width: 100%;
}
.header1 .col4 {
  float: left;
}


@media (max-width:1400px) {
}

@media (max-width:1380px) {
	.search_list > li { margin-top: 24px; padding: 0; }
  .menu_toggle li a { padding: 7px 10px !important; }
  .english-sub-menu li a { padding: 7px 10px !important; }
}
@media (max-width:1330px) {
  .search_gear input { width: 90% !important; }
  .search_list { margin-left: 0; }
}
@media (max-width:1240px) {
  .red_butn > a { padding: 30px 10px; }
  .search_gear input { width: 85% !important; }
  .search_list { margin-left: -25px; }
  .form_search_gear { bottom: 0; position: static; width: 100%; z-index: 999; }
  .search_gear { background-color: #252525; height: 120px; margin-left: auto; margin-right: auto; margin-top: 30px; padding: 0 30px; width: 80%; }
  .red_butn > button {margin-right: -15px}
  .slider_content {
    bottom: inherit !important;
    top: 50%;
    transform: translateY(-39%) !important;
    -webkit-transform: translateY(-39%) !important;
    -moz-transform: translateY(-39%) !important;
    -o-transform: translateY(-39%) !important;
    -ms-transform: translateY(-39%) !important;
    width: 100%;
  }


}
@media (max-width:1200px) {
}

@media (max-width:1189px) {
  .menu_btn a { font-size: 14px; }
  .list_button a { font-size: 13px; }
  .list_button a { padding: 8px 10px !important; }
}
@media (max-width:1080px) {
	.col8 {
    float: left;
    width: 60% !important;
  }
  .outer{width:95%;}
  .search_list {margin-left: -35px;}
  .top_nav li a {
    color: #ffffff;
    display: block;
    font-family:'Source Sans Pro', helvetica, sans-serif;
    font-size: 16px;
    padding: 32px 12px;
  }
  .list_button a{ margin-left:0px !important; }
  .menu_btn { padding: 0 15px 0 10px; }
}

@media (max-width:1052px)
{
	.search_gear input { width: 75% !important; }
  .search_list { margin-left: -60px;}
}

@media (max-width:989px) {
  .form_search_gear { bottom: 0; position: static; width: 100%; z-index: 9; }
  .search_gear .col6 { clear: both; display: block; margin-left: auto; margin-right: auto; margin-top: 0px; text-align: center; width: 100%; }
  .search_gear { background-color: #252525; height: 185px; margin-left: auto; margin-right: auto; padding: 0 30px; width: 100%; margin-top: 30px; }
  .new { float: right;margin-top: -90px; }
  .col6 { text-align: center; width: 100%; }
  .top_nav { float: right; padding: 0; }
  .secondp { font-size: 18px; font-weight: 600; line-height: 1; }
  .slider_content .firstp { font-size: 20px; font-weight: 600; }
  .slider_content { bottom: 55%; }
  .logo1 { padding: 15px 0; }
  .top_nav li a { padding: 0 10px; }
  .col4 { float: left;width: 30%; }
  .col8 { float: left;width: 70%; }
  .red_butn > button{
    background: #fc2965 none repeat scroll 0 0;
    border-radius: 100px;
    color: #ffffff;
    font-size: 16px;
    font-weight: 600;
    height: auto !important;
    margin-bottom: 11%;
    margin-left: 31%;
    margin-top: -12%;
    padding: 30px 14px;
    vertical-align: middle;
  }
  .search-form-input.search-form-text-field > input{
    margin:0 auto;
    width:96%;
  }
}
@media (max-width:930px) {
	.top_nav li a { padding: 0 8px; }
	.top_nav li a { padding: 0 5px; font-size: 14px; }
	.menu_btn a { background: #e8e8e8 none repeat scroll 0 0; color: #333333 !important; font-size: 12px !important; padding: 8px !important; }
	.list_button a { font-size: 12px !important; padding: 8px 5px !important; }
	.user_pic > a { padding: 8px 5px !important; }
	.menu_btn
	{
	  padding: 0 !important;
	}
	.list_button a {
	  font-size: 12px !important;
	  padding: 8px 4px !important;
	}
	.list_button a
	{
	  margin-left:0px !important;
	}
	.search_bar_added input {
	  width: 78% !important;
	}
  .header1{height:65px;}
  .topnav li a + div {
    min-width: 100% !important;
}
 .red_butn>button {
    margin-right: 0 !important;
    margin-top: 0 !important;
    margin-left: 0 !important;
}
.search_list {
    display: inline-block;
    vertical-align: top;
	float:none;
	margin-left:0;
}
.new {
    display: inline-block;
    margin-top: 0 !important;
    float: none !important;
    margin-left: 10px;
    vertical-align: middle;
}
#helper_text{padding:20px !important;}
.img-box{width:60px !important;}
ul#helper_dot {
    margin-left: 65px !important;
}
.header-menu-icon {
    position: relative;
    top: 0;
    right: 4px;
}

	}
@media (max-width:767px) {
	.header1 { height:65px; }
	.header1.added_header { position: fixed !important; display: block !important; background: #222325; }
	.new {
	    float: right;
	    margin-top: -90px;
	}
	.mask{top:58px;}
	.hero_section .inner_banner{padding-top:60px;}
	.search_gear input { width: 100% !important; }
	.col4 { float: left; text-align: center; width: 20% !important; }
	.col8 { float: right; text-align: right; width: 80% !important; }
	.top_nav { float: none; padding: 0; }
	.header-wrapper {
	  background: #fff;
	  float: right;
	  margin: 0 auto;
	  padding-left: 0;
	  padding-right: 0;
	}
	.header-wide-logo{display:none;}
	.visible-tablet, .visible-tablet-inline, .visible-desktop-inline{display:block !important;}
	.header-right {
	  float: right;
	}
	.test {
	  height: 50px!important;
	  margin-bottom: 15px;
	  width: 50px!important;
	}
	.new-listing-link{display:none;}
	.search_gear {
	    width: 100%;
	}
	.new {
	  float: right;
	  margin-top: -90px;
	}
	.slider_content {
	  bottom: 50%;
	}
	.search_gear{
	  height: auto;
	}
	.search_bar_added {
	  padding: 0;
	  position: static;
	  top: -70px;
	  width: 100%;
	}
	.red_butn > button {
	  margin-left: 35%;
	  margin-top: -9%;
	}
	.search_bar_added input {
	  border: 1px solid #cccccc;
	  width: 75% !important;
	}
	.new_search_added { margin-top:15px; }
	.slider_content { top: 20%; }
	.red_butn > button{ margin-top:15%; }
  .home_play_link {
      padding: 5px !important;
  }
  

.search_gear {
    width: 100%;
}
 .red_butn>button {
    margin-left: 0;
    
}
.slider_content .home_play_link {
    display: block;
    text-align: center;
    padding: 0 !important;
    margin: 0 !important;
}
.home-map>.map {
    height: 300px !important;
    width: 95%;
    margin: 15px auto 0 !important;
}
.listing-author-contact-button{width:auto;}
.people-header {
   
    font-size: 17px !important;
}
.header-toggle-menu-user {
    top: 60px !important;
}
.header-toggle-menu-menu {
    top: 60px !important;
}
#helper_text{padding:20px !important;}
ul#helper_dot {
    margin-left: 100px !important;
}
#insurance_text{margin-left:0 !important;}
.youtube_video{width:70%; margin:0 auto !important; transform:translateX(-50%); -webkit-transform:translateX(-50%); -moz-transform:translateX(-50%); -o-transform:translateX(-50%); -ms-transform:translateX(-50%);}
.youtube_video iframe {
    height: auto;
    margin: 0 auto;
    width: 100%;
}


}
@media (max-width:640px) {
.search_list img {
    width: 100%;
}.search_list a {
    display: block;
}.search_list > li {
    margin-top: 24px;
    padding: 0 5px;
    width: 15%;
}
.inform {
    padding: 0 15px !important;
}
.search_bar_added .search-form-input.search-form-text-field>input {
    width: 73% !important;
    margin: 0 auto;
}
.search_bar_added button{width:25% !important;}
.search-form-input.search-form-text-field {
    clear: both;
    overflow: hidden;
}
}


@media (max-width:580px) {
	.slider_content .firstp { font-size: 18px; }
	.secondp { font-size: 15px; }
	.new { clear: both; margin-bottom: 0; margin-left: 0; margin-right: 0; margin-top: 20px !important; width: 100%; }
	.search_list { margin-left: 0; }
	.search_gear { height: 280px; }
	.red_butn > button {
    margin: 0 auto 15px !important;
}
}

@media (max-width:480px) {
	.top_nav li a { font-size: 12px; padding: 0 5px; }
	.menu_btn a { background: #e8e8e8 none repeat scroll 0 0; color: #333333 !important; font-size: 15px !important; padding: 8px 10px !important; }
	.list_button a { padding: 8px 5px !important; }
	.search_gear { height: auto; }
	.search_bar_added input { border: 1px solid #cccccc; width: 70% !important; }
	.slider_content .firstp { font-size: 14px !important; }
	.slider_content { top: 13%; }
	.home_play_link{ margin-top:5px; }
	.new-listing-link{ padding-left:0; }
	.header-text-link{ padding:0 5px 0 0; }
	.header-menu-container{ padding:10px 0; }
	.header-user-toggle{ padding-left:2px; }
.search_list>li {
    margin-top: 10px !important;
    padding: 0 5px; width:30% !important;
}
.slider_content {
    top: 60%;
}
.slider_content .home_play_link img.test {
    height: 20px !important;
    width: 20px !important;
}
.titles-btn,.what_is_jube .team-member{margin-top:0 !important; padding-bottom:0 !important;}
.section-title-area{margin-bottom:0 !important;}
.inform {
    margin-top: 0;
    padding: 0 10px 110px;
}
.inform h2 {
    font-size: 14px;
}
.slider_content {
    bottom: inherit !important;
    top: 65% !important;}

}
@media (max-width:360px) {
	.list_button a { padding: 8px !important; }
	.menu_btn a { padding: 8px !important; }
	.top_nav li a { padding: 0px 12px; }
	.menu_btn { margin-bottom: 10px; margin-top: 10px; }
	.slider_content .firstp { font-size: 14px; }
	.secondp { font-size: 13px; }
	.hero_section.test > form { display: none; }
	.search_gear { height: 360px; }
}

.search-form-input.search-form-text-field > input {
  width: 82% !important;
  margin: 0 auto;
}
.flash-error-global-msg {
  background: #fc2965 none repeat scroll 0 0;
  border-radius: 7px;
  color: white;
  margin: 0 auto;
  padding: 0 10px;
  width: 50%;
  text-align: center;
}
.signup_about_link{margin: 10px 0 0 20px}
.col4 .header-left {
    float: left !important;
}

.visible-tablet-inline{display:inline-block !important}
#header-user-mobile-anchor{overflow:hidden;}
.header-wrapper{ background: transparent none repeat scroll 0 0 !important;overflow: hidden; }
.icon-dropdown {
    float: none !important;
    position: relative;
    top: 0 !important;
}
/*.stripe-update-btn, .stripe-update-btn:hover{background-color:#5bc0de;}*/
.stripe-select-btn, .stripe-select-btn:hover{background-color:#2490ff;}
.stripe-delete-btn, .stripe-delete-btn:hover{background-color:#a64c5d;}
/*.stripe-selected-btn, .stripe-selected-btn:hover{background-color:green;} */

#discount-banner {
  background:url(/assets/discount-banner.png) no-repeat;
  background-size: cover;
  background-position:center;
  height:60px; padding:13px 0 0 30px;
  font-size:40px; text-align:center;
  color: white;
}
.added_header .col8 {
  float: left;
  width: 70%;
}

.added_header .col4 {
  float: left;
  width: 30%;
}

.marketplace-title-header {
  left: 50%;
  margin: 0 auto;
  position: absolute;
  text-align: center;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 1060px;
}
.marketplace-in {
  text-align: left;
}
.marketplace-in h1 {
  color: #fff;
}

@media only screen and (max-width:1060px){
  .marketplace-title-header{width:95%;}
}

/*----listing show page---*/
@media only screen and (max-width:1024px){
  .listing-price-amount{font-size:32px;}
}
@media only screen and (max-width:991px){
  .listing-price-amount{font-size:28px;}
}
@media only screen and (max-width:930px){
  #helper_dot li::before {margin-left: -28px;}
  #helper_dot li {margin-left: 35px;}


}
@media only screen and (min-width:768px) and (max-width:930px){
  .mobile-img {margin: -17% 0 !important; width: 85% !important; }
.img-box-mbl { margin: 5% 0 0 -6% !important;}

}

@media only screen and (max-width:880px){
  .how-to-video {margin-left: 0 !important;  text-align: center !important;}
  #helper_dot br{display: none !important;}
}

@media only screen and (max-width:767px){
  .marketplace-title-header{top:60%;}
  .book-button{height:40px; font-size:20px;}
  .listing-price-amount{font-size:22px;}
  .page-content p{margin-bottom:8px;}
  .hero_section .inner_banner .slider_content img{margin:0 auto!important;}
  
  #helper_text, #helper_text_mbl{padding: 20px 30px !important;height:auto !important;}
  #helper_text br, #helper_text_mbl br{display: none;}
  .img-box-card, .img-box-mbl, .img-box, .img-box-stripe {float: none !important;margin: 0 auto !important;text-align: center !important;width: 100% !important;}
  ul#helper_dot {margin-left: 0 !important;}
  #helper_dot li {margin-left: 25px !important;}
  .home_play_link {margin-top: 25px;text-align: center;}
  .how-to-video {margin-left: 0 !important;}
  .img-box-card img, .img-box-mbl .mobile-img, .img-box-mbl img, .img-box img {margin: 0;max-height: 122px !important;width: auto !important;}
  
}

@media only screen and (max-width:480px){
  .home_play_link {text-align: center;}
  .player-image {display: inline-block;height: 40px !important; vertical-align: middle;width: 40px !important;}
  .video_text {display: inline-block;font-size: 16px !important; margin-left: 8px;}
	
}


.row-with-divider #listing-message-links li {
  width: 100% !important;
}
