.message-avatar-padding
  .row
    .col-12

      %h2
        = link_to_unless listing[:deleted], listing[:title], listing_path(id: listing[:id]), :class => "listing_title_head"

      - if price_break_down_locals.present?
        = render partial: "transactions/price_break_down", locals: price_break_down_locals

      - if @current_community.vat.present?
        .message-price-vat
          = t("conversations.show.price_excludes_vat")

      = render partial: "transactions/shipping_address", locals: { shipping_address: tx[:shipping_address] }

      %div{:id => "transaction_status"}
        = render :partial => "transactions/status/status", :locals => { :__transaction_model => transaction_model, role: role, is_author: is_author }
