- if is_author && transaction_model.notification_status == "pending"
  .message-avatar-padding
    .row
      .col-12
        %b
          Status:
        "The renter has sent you a booking request"
        .payment-status
          .initiate-transaction-per-unit-wrapper.notify
            %span.initiate-transaction-per-unit-label.request-payment-1
              = image_tag("request.png", :class => "payment-img")
              %span{:class =>"payment-text", :style => "color: #3399ff;"}
                Request Received
            %span.initiate-transaction-per-unit-value.request-payment-2
              = button_tag t("transactions.accept"), :class => "notification_status accept_status transaction-accept", :value => "accept", :id => params[:id], :locale => params[:locale], :person_id => params[:person_id]
              = button_tag t("transactions.decline"), :class => "notification_status transaction-decline", :value => "decline", :id => params[:id], :locale => params[:locale], :person_id => params[:person_id]
              = image_tag "small_loader.gif", :class => "card_small_loader"
- if !is_author && transaction_model.notification_status == "pending"
  .message-avatar-padding
    .row
      .col-12
        %b
          Status:
        "Your request has been sent to the owner."
        .payment-status
          .initiate-transaction-per-unit-wrapper.notify
            %span.initiate-transaction-per-unit-label
              = image_tag("request.png", :class => "payment-img")
              %span{:class =>"payment-text", :style => "color: #3399ff;"}
                Request Sent
- if is_author && transaction_model.notification_status == "accept"
  .message-avatar-padding
    .row
      .col-12
        - if listing.author.strip_account_id.nil? && listing.author_id == @current_user.id
          = t("transactions.stripe_connect_owner")
        %br
        %br
        %b
          Status:
        "Waiting for accept and payment from renter."
        .payment-status
          .initiate-transaction-per-unit-wrapper.notify
            %span.initiate-transaction-per-unit-label.request-payment-1
              = image_tag("pending.png", :class => "payment-img")
              %span{:class =>"payment-text", :style => "color: #cccc00;"}
                Pending
- elsif !is_author && transaction_model.notification_status == "accept"
  .message-avatar-padding
    .row
      .col-12
        - if @current_user.card_detail.nil?
          .initiate-transaction-totals
            - stripe_url = ( @current_user.card_detail.nil? || @current_user.card_detail.id.nil?) ? strip_credit_detail_person_settings_path(@current_user, :transaction => params[:id]) : strip_update_detail_person_settings_path(@current_user, :transaction => params[:id])
            The booking has been accepted. You need to enter your payment information
            = link_to "here", stripe_url
        - else
          - if listing.author.strip_account_id.nil? && listing.author_id != @current_user.id
            = t("transactions.stripe_connect")
          - elsif listing.author.strip_account_id.nil? && listing.author_id == @current_user.id
            = t("transactions.stripe_connect_owner")
          -else
            - if price_break_down_locals[:total_label].present?
              - price = price_break_down_locals[:total]
            -else
              - price = price_break_down_locals[:listing_price]
            - if  listing.renting_out_type?
              - convenience_fee = listing.convenience_fee(price_break_down_locals[:total], @current_community)
              - pay_url = pay_stripe_amount_person_transaction_path(:person_id => @current_user.id, :id => params[:id], :price => price, :convenience_fee => convenience_fee)
            - else
              - pay_url = pay_stripe_amount_person_transaction_path(:person_id => @current_user.id, :id => params[:id], :price => price)
            %b
              Status:
            "Owner has accepted! Confirm upon agreement."
            .payment-status
              .initiate-transaction-per-unit-wrapper.notify
                %span.initiate-transaction-per-unit-label.request-payment-1
                  = image_tag("pending.png", :class => "payment-img")
                  %span{:class =>"payment-text", :style => "color: #cccc00;"}
                    Pending
                %span.initiate-transaction-per-unit-value
                  = button_to "CONFIRM", pay_url,:class => "stripe_pay_btn", :method => :post
- elsif is_author && transaction_model.notification_status == "paid"
  .message-avatar-padding
    .row
      .col-12
        %b
          Status:
        "Success! Make your gear ready for pickup. Have fun!"
        - if price_break_down_locals[:end_on].past?
          - if transaction_model.testimonials.pluck(:author_id).include?(transaction_model.listing_author_id) || transaction_model.author_skipped_feedback
            Already Reviewed.
          - else
            .status-links.row
              .inbox-horizontally-aligned-link.col-6
                %a.status-link{:href => "/#{params[:locale]}/#{transaction_model.payer.username}/messages/#{params[:id]}/feedbacks/new"}
                  = image_tag("Leave_review_feedback.png")
              .inbox-horizontally-aligned-link.col-6
                %a.status-link.cancel{"data-method" => "put", "data-remote" => "true", :href => "/#{params[:locale]}/#{transaction_model.payer.username}/messages/#{params[:id]}/feedbacks/skip"}
                  = image_tag("Skip_review.png")

        .payment-status
          .initiate-transaction-per-unit-wrapper.notify
            %span.initiate-transaction-per-unit-label.request-payment-1
              = image_tag("accepted.png", :class => "payment-img")
              %span{:class =>"payment-text", :style => "color: #00cc66;"}
                Accepted
- elsif !is_author && transaction_model.notification_status == "paid"
  .message-avatar-padding
    .row
      .col-12
        %b
          Status:
        "Success. Have fun and be creative !"
        .payment-status
          .initiate-transaction-per-unit-wrapper.notify
            %span.initiate-transaction-per-unit-label.request-payment-1
              = image_tag("accepted.png", :class => "payment-img")
              %span{:class =>"payment-text", :style => "color: #00cc66;"}
                Accepted

        - if price_break_down_locals[:end_on].past?
          - if transaction_model.testimonials.pluck(:author_id).include?(transaction_model.starter_id) || transaction_model.starter_skipped_feedback
            Already Reviewed.
          - else
            .status-links.row
              .inbox-horizontally-aligned-link.col-6
                %a.status-link{:href => "/#{params[:locale]}/#{transaction_model.payer.username}/messages/#{params[:id]}/feedbacks/new"}
                  = image_tag("Leave_review_feedback.png")
              .inbox-horizontally-aligned-link.col-6
                %a.status-link.cancel{"data-method" => "put", "data-remote" => "true", :href => "/#{params[:locale]}/#{transaction_model.payer.username}/messages/#{params[:id]}/feedbacks/skip"}
                  = image_tag("Skip_review.png")


:css
  .status-links{
    margin-top: 12px;
  }
