/* Update conversation status label */
$("#transaction_status").html("<%= escape_javascript(render(:partial => 'transactions/status/status', :locals => { :__transaction_model => @transaction, :is_author => is_author })) %>");

/* Highlight the changed status */
$("#transaction_status").effect("highlight", {}, 2000);

$(".status-links").remove();
$(".wrapper").prepend( "<%= escape_javascript(render(:partial => 'layouts/notifications')) %>" );
<% flash[:notice] = nil %>
