- content_for :title_header do
  %h1= t("layouts.no_tribe.feedback")

.left-navi-section.about-section
  %p
    %b Al indhold på JUBE er skrevet på Engelsk, for at tage hensyn til engelsktalene brugere. Er der noget du ikke forstår? Så tag kontakt til os inden du laver en profil.

  %p
    %b Reach out to us through email, phone or use Intercom in the bottom right corner of all pages.

  %p
    %b Contact Info:
    %br
    Help@jube.co
    %br
    +45 2051 7216
