- controller_action = [["homepage", "index"], ["listings", "show"],]
- if @current_community.discount_on_listings > 0 && controller_action.include?([params[:controller], params[:action]])
  #discount-banner
    %b= "#{@current_community.discount_on_listings}%"
    off all rentals    
