%a#fb-login.fb-connect{:href => person_omniauth_authorize_path(:facebook)}
  = icon_tag("facebook", ["fb-icon"])
  .fb-text= button_text


- if params["action"] == "new" and params["controller"] == "people"
  .outer-checkbox-container
    .checkbox-container
      %input{:type => "checkbox", :id => "person_terms_facebook", :name => "person[terms]"}
      = link_to "Please read these douments, and check this box", "/en/infos/about"

  - content_for :javascript do
    $("#fb-login").click(function(){ if($("#person_terms_facebook").is(":checked")){ return true; }else{ alert("Please accept the terms"); return false;} });
