-# Hide header in map view if mobile
.hero_section
  %div.header1.added_header
    - if @current_user && show_remainder_alert
      .flash-error-global-msg
        - if !@current_user.is_admin?
          - if @current_user.card_detail.nil? || @current_user.card_detail.id.nil?
            - stripe = strip_credit_detail_person_settings_path(@current_user)
          - else
            - stripe = strip_update_detail_person_settings_path(@current_user)
        - else
          - stripe = stripe_connect_person_settings_path(@current_user)
        = "Just a quick reminder: Welcome! Before using Jube, you need to "
        %u
          = link_to "upload ID", id_verification_person_settings_path(@current_user), :style => 'font-style:italic;color:white;'
        = "and enter"
        %u
          = link_to "payment Information.", stripe, :style => 'font-style:italic;color:white;'
    .outer
      .col4
        -# If necessary, the buttons will overlap with the logo. Buttons should be on top, that's keep the logo here after buttons
        .header-left.header-logo-container
          = link_to @homepage_path, :class => "header-logo", :id => "header-logo" do
            -if @current_community.logo.present?
              %i.visible-tablet
                = image_tag @current_community.wide_logo.url(:header)
            -else
              %i.header-wide-logo.visible-tablet
                =#image_tag @current_community.logo.url(:header_icon)
              %i.header-square-logo.hidden-tablet
                -# Logo is here, it's a CSS background
      .col8
        .header-wrapper
          .header-right.header-padding.visible-tablet
            = link_to "LIST YOUR GEAR", new_listing_path, :class => "new-listing-link", :style => "background-color:##{@current_community.custom_color1}", :id => "new-listing-link"
          .header-right.visible-tablet
            #header-menu-desktop-anchor.header-menu-container.toggle.header-hover{data: {toggle: '#header-menu-toggle-menu'}}
            = render :partial => "layouts/header_menu"

          - Maybe(@current_user).each do |user|
            - conversations = @current_community.conversations.for_person(user)
            - unread_count = MarketplaceService::Inbox::Query.notification_count(user.id, @current_community.id)

            .header-right
              = render :partial => "layouts/header_anchors", locals: {user: user}
              = render :partial => "layouts/header_user_menu", locals: {unread_count: unread_count, user: user}

            = render :partial => "layouts/header_right_visible_tablet", locals: {unread_count: unread_count, user: user}

          - with_available_locales do |locales|
            .header-right.visible-desktop
              #header-locales-menu.toggle.header-hover{data: {toggle: '#header-locales-toggle-menu'}}
                %span.header-text-link
                  = get_full_locale_name(I18n.locale).to_s
                  = icon_tag("dropdown", ["icon-dropdown"])
              #header-locales-toggle-menu.toggle-menu.header-toggle-menu-language.hidden
                = render :partial => "layouts/locale_select", :collection => locales, :as => :loc_array

          - unless @current_user
            .header-right
              = link_to sign_up_path, class: "header-text-link header-hover" do
                = t("header.signup")
            .header-right
              = link_to login_path, class: "header-text-link header-hover", id: "header-login-link" do
                = t("header.login")

          .header-left
            .header-menu-container.toggle.hidden{data: {toggle: '#header-menu-toggle-menu', 'toggle-position' => 'absolute'}}
              #header-menu-mobile-anchor.header-menu-toggle-container.toggle-header-container
                = icon_tag("rows", ["header-menu-icon"])
                %span.visible-tablet-inline
                  = t("header.menu")


    = image_tag "img/border.png", :class => "border_bot"
  - with_big_cover_photo do
    .inner_banner
      = image_tag("img/banner.jpg")
      .mask
        = image_tag("img/mask.png")
      - with_big_cover_photo do
        .slider_content
          .outer
            .col12
              / .title-container
              /   .title-header-wrapper
              /     .marketplace-title-header
              - with_big_cover_photo do
                %p.firstp Rent photo and film gear from local film-makers
                %a{href: "#", class: "home_play_link", id: "2_img"}
                  %img{src: "/assets/play_button.png", class: "test" }

                .youtube_video
                  %iframe{:width => "600", :height => "400", :src => "https://www.youtube.com/embed/2UbUIlGQjpg", :frameborder => "0", :wmode => "transparent"}
                /- else
                / %p.firstp= community_slogan.html_safe
                / %p.secondp= community_description.html_safe
              /   - else
  - with_small_cover_photo do
    .inner_banner.added_inner
      = image_tag("img/banner.jpg")
      .mask
        = image_tag("img/mask.png")
  - if(feature_enabled?(:location_search))
    = render :partial => "homepage/location_bar"
  - else
    = render :partial => "homepage/search_bar"
  - with_big_cover_photo do
    .wrapper
      .lander-content-container
        .lander-content.marketplace-lander-content
          = yield :title_header
  - with_small_cover_photo do
    .marketplace-title-header
      .marketplace-in
        = yield :title_header
:css
  .test {height: 100px; width: 100px;}
