#header-menu-toggle-menu.toggle-menu.header-toggle-menu-menu.hidden

  = link_to "/" do
    = icon_tag("home", ["icon-with-text"])
    = t("header.home")

  = link_to "http://www.jube.co/faq" do
    = icon_tag("help", ["icon-with-text"])
    FAQ

  = link_to new_listing_path, :class => "hidden-tablet" do
    = icon_tag("new_listing", ["icon-with-text"])
    = t("homepage.index.post_new_listing")

  = link_to about_infos_path do
    = icon_tag("information", ["icon-with-text"])
    = t("header.about")

  = link_to contact_infos_path do
    = icon_tag("feedback", ["icon-with-text"])
    = t("header.contact_us")

  - with_invite_link do
    = link_to new_invitation_path do
      = icon_tag("invite", ["icon-with-text"])
      = t("header.invite")

  - Maybe(@current_community).menu_links.each do |menu_links|
    - menu_links.each do |menu_link|
      = link_to menu_link.url(I18n.locale), :target => "_blank" do
        = icon_tag("redirect", ["icon-with-text"])
        = menu_link.title(I18n.locale)

  - if @current_user && @current_community && @current_user.has_admin_rights_in?(@current_community)
    = link_to edit_details_admin_community_path(@current_community) do
      = icon_tag("admin", ["icon-with-text"])
      = t("layouts.logged_in.admin")

  .hidden-desktop
    - with_available_locales do |locales|
      .toggle-menu-title
        = t("layouts.global-header.select_language")

      = render :partial => "layouts/locale_select", :collection => locales, :as => :loc_array
