= render :partial => 'layouts/head'

%body
  %noscript
    .noscript-padding
      -# Noscript content will be positioned here
  = render :partial => 'layouts/discount_banner'
  = render :partial => 'layouts/global-header'

  - content_for(:page_content) do
    - map_container= if params[:view]=='map' || (params[:controller].eql?('homepage') && params[:action].eql?('index')) then "home-page-map" else "wrapper"end
    %article.page-content
      %div{:class => map_container}
        = render :partial => "layouts/notifications"
        = yield

  -#
    This is not pretty, but works.
    On homepage, we want to wrap the whole page content (search bar and the "real" content) to a form, so that
    pressing send from either search bar of filter list will send all the form fields

  - if params[:controller] == "homepage" && params[:action] == "index"
    %form{method: "get", id: "homepage-filters"}
      - params.except("action", "controller", "q", "view", "utf8").each do |param, value|
        - unless param.match(/^filter_option/) || param.match(/^checkbox_filter_option/) || param.match(/^nf_/) || param.match(/^price_/)
          = hidden_field_tag param, value
      = hidden_field_tag "view", @view_type
      = content_for(:page_content)
  - else
    = content_for(:page_content)

  = render :partial => "layouts/google_analytics_script"

  -# Most of the JavaScript should be for performance reasons at the end of the body

  = content_for(:location_search)

  -# load Facebook SDK for the whole page
  = render :partial => "layouts/facebook_sdk"

  = javascript_include_tag 'application'
  - if @analytics_event
    :javascript
      report_analytics_event(#{@analytics_event});

  :javascript
    $(function() {
      FastClick.attach(document.body);
      $('input, textarea').placeholder();
    });

  -# Disable animations on tests
  - if Rails.env.test?
    :javascript
      $(function() {
        $.transit.enabled = false;
      });

  = content_for :extra_javascript

  :javascript
    $(document).ready(function() { initialize_defaults("#{I18n.locale}"); #{yield :javascript} });
    $(document).ready(function(){
      $(".top_nav > li").click(function(){
        $(this).toggleClass("active")
            $(this).siblings().removeClass("active");
        });
      
    });

  = render :partial => "layouts/noscript"

  - unless @current_user.nil?
    :javascript
      window.intercomSettings = {
        app_id: "uc2jsxnn",
        name: "#{@current_user.full_name}", // Full name
        email: "#{@current_user.emails.last.address}", // Email address
        created_at: #{@current_user.current_sign_in_at.to_i} // Signup date as a Unix timestamp
      };

      (function(){var w=window;var ic=w.Intercom;if(typeof ic==="function"){ic('reattach_activator');ic('update',intercomSettings);}else{var d=document;var i=function(){i.c(arguments)};i.q=[];i.c=function(args){i.q.push(args)};w.Intercom=i;function l(){var s=d.createElement('script');s.type='text/javascript';s.async=true;s.src='https://widget.intercom.io/widget/uc2jsxnn';var x=d.getElementsByTagName('script')[0];x.parentNode.insertBefore(s,x);}if(w.attachEvent){w.attachEvent('onload',l);}else{w.addEventListener('load',l,false);}}})()

  :javascript
    $(function(){
      $(".home_play_link").click(function(){
        if($(this).attr("id") == "1_img"){
          var ss = "https://www.youtube.com/embed/EAytNaaceaY"
        }else if($(this).attr("id") == "2_img")
        {
          var ss = "https://www.youtube.com/embed/2UbUIlGQjpg"
        }else if($(this).attr("id") == "3_img"){
          var ss = "https://www.youtube.com/embed/bwSA_WQkdyw"
        }else if($(this).attr("id") == "4_img"){
          var ss = "https://www.youtube.com/embed/6TvB4kQKHNc"
        }
        $(".youtube_video iframe").attr("src", ss);
        $(".youtube_video").lightbox_me({modalCSS: {top: '100px'}, overlayCSS: {background: 'black', opacity: .5}, zIndex: 1000000, closeEsc: true, closeClick: true,
        onClose: function() {
          $(".youtube_video iframe").attr("src", ss);
        }
        });
      })
    })


:css
  .header1 { padding-top: 0 !important}
  .header1 .col4 { margin-bottom: 0 !important}
  .slider_content .firstp { font-size: 20px}
  .form_search_gear{bottom: 0px !important}
  .search_gear .col6 { margin-top: 10px !important}
