.row-with-divider.without-margin.conversation-row{:class => conversation[:should_notify] ? "unread" : ""}

  .col-3
    .conversation-details-container
      = link_to conversation[:other][:url] do
        = image_tag conversation[:other][:avatar], :class => "conversation-avatar"
      .conversation-details
        .conversation-other-party-name
          = link_to_unless conversation[:other][:is_deleted], conversation[:other][:display_name], conversation[:other][:url], :class => "inbox_list"
        .conversation-last-message-at
          = conversation[:last_activity_ago]

  %div{class: payments_in_use ? "col-6" : "col-9"}
    = link_to conversation[:path], class: "conversation-title-link" do
      %span{:class => "inbox_head"}
        = conversation[:title]
    .conversation-context
      - if conversation[:listing_url].present?
        = t("conversations.conversation.about_listing", listing_title: link_to_unless(conversation[:listing_deleted], conversation[:listing_title], conversation[:listing_url], :class => "inbox_list")).html_safe
      - else
        = t("conversations.conversation.free_message")

  - if payments_in_use
    .col-3

      -# Only for transactions
      - status = conversation[:last_transition_to_state]
      - if status.present? && status != "free"
        - status_meta = conversation[:transitions].last[:metadata]
        - is_author = !conversation[:current_is_starter]
        - waiting_feedback = conversation[:waiting_feedback]
        - other_name = conversation[:other][:display_name]

        - icon, status_description = conversation_icon_and_status(status, is_author, other_name, waiting_feedback, status_meta)

        .conversation-list-status-container
          .conversation-list-status-icon
            = icon
          .conversation-list-status
            = status_description
